html:root {
  --accent: #fd7101;
  --accent-bg: #ff7600;
  --accent-txt: #fff;
  --primary-bg: #0f0f0f;
  --primary-txt: #fff;
  --secondary-bg: #2c2c2c;
  --secondary-txt: #fff;
  --mainBg: #fdfdfd;
  --mainBgCol: #000;
  --bg1: #efefef;
  --col1: #000;
  --teableHeadersBg: linear-gradient(#ec411a 0%, #e63312 25.12%, #ff7600 100%);
  --teableHeadersCol: #fff;
  --teableSubHeadersBg: #c2c2c2;
  --teableSubHeadersCol: #222;
  --tableBorders: #ccc;
  --backDrops: #000000cf;
  --skin: "betshop";

  //base
  --headerBtnsRightBg: linear-gradient(
    #ec411a 0%,
    #e63312 25.12%,
    #ff7600 100%
  );
  --headerBtnsRightTxt: #fff;
  --border-color-1: var(--accent);
  --bg-color-1: var(--accent);
  --cg-top-button-background: var(--accent-bg);
  --topbar-bg-color: var(--primary-bg);
  --topbar-text-color: var(--primary-txt);
  --intermediate-bar-bg-color: var(--primary-bg);
  --intermediate-bar-text-color: var(--primary-txt);
  --intermediate-bar-muted-text-color: var(--primary-bg);
  --header-input-bg-color: #cccccc;
  --header-input-text-color: #000000;
  --user-img-border-color: var(--accent);
  --menu-bar-background-color: var(--primary-bg);
  --menu-bar-text-color: var(--primary-txt);
  --login-btn-bg-color: var(--accent-bg);
  --login-btn-text-color: var(--accent-txt);
  --signup-btn-bg-color: var(--accent-bg);
  --signup-btn-text-color: var(--accent-txt);
  --tickets-button-bg-color: var(--accent-bg);
  --tickets-button-text-color: var(--accent-txt);
  --tickets-button-border-color: var(--accent);
  --deposit-button-bg-color: var(--accent-bg);
  --deposit-button-text-color: var(--accent-txt);
  --deposit-button-border-color: var(--accent);
  --footer-btn-bg-color: var(--accent-bg);
  --footer-btn-text-color: var(--accent-txt);
  --topbar-footer-bg-color: #000;
  --topbar-footer-text-color: #fff;
  --topbar-footer-border-color: var(--accent);
  --intermediatebar-footer-bg-color: #191819;
  --bottombar-footer-bg-color: #0c0b0c;
  --bottombar-footer-text-color: #fff;
  --footer-links-text-color: #fff;
  --promo-page-title: var(--accent);
  --promo-title: var(--accent);
  --promo-info-button-bg-color: var(--accent-bg);
  --promo-info-button-text-color: var(--accent-txt);
  --promo-signup-button-bg-color: var(--accent-bg);
  --promo-signup-button-text-color: var(--accent-txt);
  --promo-active-type-bg-color: var(--accent-bg);
  --promo-active-type-text-color: var(--accent-txt);
  --promo-active-type-hover-bg-color: var(--accent-bg);
  --promo-active-type-hover-text-color: var(--accent-txt);
  --landing-quota-hover-bg-color: var(--accent-bg);
  --landing-quota-hover-text-color: var(--accent-txt);
  --landing-casino-game-hover-bg-color: var(--accent-bg);
  --landing-casino-game-play-btn-bg-color: var(--accent-bg);
  --landing-casino-game-play-btn-text-color: var(--accent-txt);
  --landing-casino-game-try-btn-bg-color: var(--accent-bg);
  --landing-casino-game-try-btn-text-color: var(--accent-txt);

  //base

  --cs_rigaCategorie: rgba(60, 60, 60, 1);
  --cs_rigaCategorieColoreTesto: #fff;
  --cs_voceMenuSinistra: #ffffff;
  --cs_voceMenuSinistraSelezionato: var(--accent);
  --cs_voceMenuSinistraTesto: rgba(0, 0, 0, 1);
  --cs_voceMenuSinistraTestoSelezionato: rgba(0, 0, 0, 1);
  --cs_voceMenuSinistraHover: var(--accent);
  --cs_voceMenuSinistraTestHover: ;
  --cs_barraFiltriCasino: rgba(60, 60, 60, 1);
  --cs_selettoreGligliaAttivo: var(--accent);
  --cs_selettoreGrigliaInattivo: #ffffff;
  --cs_iconaGiocoTesto: #2d3844;
  --cs_iconaGiocoFooterBG: #f2f2f2;
  --cs_iconaGiocoBgOverlay: rgba(66, 68, 90, 0.44);
  --cs_iconaGiocoTestoOverlay: rgba(66, 68, 90, 0.44);
  --cs_buttonGiocaBG: var(--accent);
  --cs_buttonProvaBG: rgba(60, 60, 60, 1);
  --cs_buttonGiocaProvaTesto: ;
  --cs_gameTesto: #ffffff;
  --cs_gameHeaderFooterBG: #2d3844;
  --cs_icon_invert_color: invert(1);
  --cs_selezione: var(--accent);
  --coloreTipoLancio: #ffffff;
  --coloreTipoLancioSelezionato: #ffffff;

  //mobile

  --primary-color: white;
  --primary-color-border: var(--tableBorders);
  --secondary-color: white;
  --heading-color: #e1e1e1;
  --heading-border-color: var(--tableBorders);
  --heading-text-color: rgba(0, 0, 0, 0.87);
  --nav-text-color: white;
  --nav-item-color: white;
  --nav-item-selected-color: rgba(255, 255, 255, 0.12);
  --nav-selection-color: var(--accent);
  --list-element-color: #fff;
  --list-element-border-color: var(--tableBorders);
  --popup-background-color: #fff;
  --popup-border-color: #cbcdd1;
  --top-navbar-color: #fff;
  --top-navbar-text-color: #2b2b2b;
  --bottom-navbar-color: white;
  --bottom-navbar-border-color: rgba(0, 0, 0, 0.12);
  --bottom-navbar-text-color: #2b2b2b;
  --bet-background-color: #ededed;
  --bet-border-color: rgba(0, 0, 0, 0.12);
  --separator-color: rgba(0, 0, 0, 0.12);
  --message-box-color: #e1e1e1;
  --message-box-text-color: rgba(0, 0, 0, 0.87);
  --nav-go-back-color: #3e3e3e;
  --nav-go-back-border-color: var(--tableBorders);
  --nav-go-back-text-color: white;
  --nav-filtri-color: white;
  --nav-filtri-border-color: var(--tableBorders);
  --nav-filtri-text-color: #2b2b2b;
  --nav-temporal-filter-color: #3e3e3e;
  --nav-temporal-filter-border-color: transparent;
  --nav-temporal-filter-text-color: #2b2b2b;
  --nav-live-sports-color: #3e3e3e;
  --nav-live-sports-border-color: transparent;
  --nav-live-sports-text-color: #2b2b2b;
  --popup-selection-color: var(--accent-bg);
  --field-wrapper-background: #dedede;
  --general-field-background: #fffffb;
  --fixed-field-background: #efefef;
  --arrow-color: var(--accent);
  --nome-esito-color: #2b2b2b;
  --quota-color: var(--accent);
  --selector-color: #f5f5f6;
  --selector-border-color: var(--tableBorders);
  --notification-circle-color: var(--accent);
  --notification-circle-text-color: white;
  --search-navbar-color: var(--accent-bg);
  --search-navbar-text-color: #2b2b2b;
  --score-background-color: #1daa63;
  --score-text-color: white;
  --period-desc-color: var(--accent);
  --deposit-button-background-color: #1daa63;
  --deposit-button-text-color: white;
  --loader-color: var(--accent);
  --ticket-background: #f5824933;
  --reservation-buttons-color: var(--arrow-color);
  --potential-win-color: var(--arrow-color);
  --login-button-color: var(--nav-selection-color);
  --cart-button-delete-color: #e44e4e;
  --cart-button-bet-color: #82e461;
  --cart-button-reservation-color: #ecc06b;
  --scroll-button-color: #f5f5f6;
  --cashout-ticket-list-bg: #d0d0d0;
  --cashout-ticket-background: #f3eee0;
  --cashout-ticket-button-background: #672021;
  --close-betslip-button-color-bg: #501a1a;
  --close-betslip-button-color-text: #fff;

  --cg-primary-color: #ffffff;
  --cg-navbar-color: #ffffff;
  --cg-slider-top-footer-background: #ffffff;
  --cg-primary-color-text: #000;
  --cg-bottom-navbar-text-color: var(--accent);
  --cg-slider-top-footer-text: #2b2b2b;
  --cg-background-color: #ffffff;
  --cg-background-text: #000;
  --cg-general-border-color: #827b7b;
  --cg-general-field-border: #00000026;
  --cg-general-field-background: #fffffb;
  --cg-general-field-text: #000;
  --cg-field-wrapper-background: #dedede;
  --cg-field-wrapper-text: #000;
  --cg-slider-general-field-background: #f3f3f3;
  --cg-slider-general-field-text: #000;
  --cg-ticket-background-color: #fffff8;
  --cg-ticket-text-color: #000000;
  --cg-deposit-button-background-color: #1daa63;
  --cg-deposit-button-text-color: #fff;
  --cg-nav-selection-color: var(--accent);
  --cg-nav-selection-border3: var(--tableBorders);
  --cg-nav-selection-text3: #000;
  --cg-nav-selection-color2: var(--accent);
  --cg-nav-selection-border: #040404;
  --cg-button-text-type1: #000;
  --cg-nav-selection-border2: #000000;
  --cg-nav-selection-text2: #fff;
  --cg-nav-selection-color3: var(--accent);
  --cg-nav-selection-text-extra: #000000;
  --cg-ticket-background: #f5824933;
  --cg-ticket-background-text: #000;
  --cg-menu-header-go-back: #000;
  --cg-menu-header-text: #fff;
  --cg-signup-border: var(--tableBorders);
  --cg-signup-border-input: var(--tableBorders);
  --cg-signup-label: #808080;
  --cg-signup-field-gradient: #ededed;
  --cg-signup-disabled: #d3d3d3;
  --cg-signup-info-container: #ffffe0;
  --cg-signup-info-text: #000;
  --cg-signup-step-gradient: var(--accent);
  --cg-landing-live-background: #ededed;
  --cg-landing-live-text: #000;
}
$skinHost: "betshop375.it";
$skinName: "BETSHOP375";
$bodyBg: "https://#{$skinHost}/external_css/#{$skinName}/img/bodyBg.png";
$logoUrl: "https://#{$skinHost}/external_css/#{$skinName}/img/logo.svg";
//1 => original Black > White , 0=> orginal white>Black
$invert: 1;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
$font: "Roboto", sans-serif;

body {
  font-family: $font;
}
body.stopResponsive {
  min-width: 1256px !important;
}

#loading {
  background: var(--backDrops);
  .object {
    border-top: 5px solid var(--accent);
    border-bottom: 5px solid transparent;
    border-left: 5px solid var(--accent);
    border-right: 5px solid transparent;
  }
}

// .main-content.casino.cg-bg-live {
//   background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/casinobg.jpeg");
//   padding-top: 20vh !important;
// }
input:focus {
  outline: none !important;
}
body .cg-top-arrow {
  background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/up-arrow.png");
  height: 60px;
  width: 60px;
  background-repeat: no-repeat;
  align-self: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: hue-rotate(145deg) brightness(2.9);
}
