@import "vars";

body {
  background-color: #fff;
  background-image: url(#{$bodyBg});
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1850px;
  background-attachment: fixed;
}
.box-container {
  display: flex;
}
#left-column {
  padding-right: 0px !important;
  margin-right: 8px !important;
  background: var(--mainBg);
  color: var(--mainBgCol);
  border: 1px solid var(--tableBorders);
}
div#shopping-cart {
  padding-left: 0px !important;
  margin-left: 8px !important;
  background: var(--mainBg);
  color: var(--mainBgCol);
  border: 1px solid var(--tableBorders);
}
div#prematch-big-menu {
  display: flex;
  flex-flow: column;
  > div {
    order: 2;
  }
  .bet-mode-container {
    order: 1;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin: 0;
    > ul {
      height: 40px;
      display: flex;
      > li {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        &:nth-child(2) {
          border-left: 1px solid var(--tableBorders);
        }
        > a {
          background: transparent;
          color: inherit;
          border-radius: 0;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
//table headers
div#shortcut-live-menu-container,
.left-menu-title,
.buttons-container-header,
.live-menu-title {
  height: 28px;
  display: flex;
  align-items: center;
  border-radius: 0;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: none;
  font-family: $font;
  background: var(--teableHeadersBg);
  color: var(--teableHeadersCol);
  a,
  p,
  h1,
  h2,
  span {
    color: var(--teableHeadersCol) !important;
    text-shadow: none;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
  }
}
button.btn.btn-primary {
  color: var(--accent-txt);
  border-radius: 0;
  background: var(--accent-bg);
  &:hover {
    filter: brightness(0.9);
  }
}
.buttons-container-box {
  border: 0 !important;
}
#center-content {
  background: var(--mainBg);
  color: var(--mainBgCol);
  display: flex;
  vertical-align: top;
  //- left & right - margins
  width: calc(100% - 465px - 16px);
  flex-shrink: 1;
  #center-content-effective {
    display: flex;
    flex-flow: column;
    width: 100%;
    position: relative;
  }
}
.box-live #center-content {
  width: 100%;
}
.left-column-search-container {
  margin: 0;
  background: var(--mainBg);
  color: var(--mainBgCol);
  border: 0;
}
.rewidth-search-left-column {
  margin: 0;
  background: var(--bg1);
  border-radius: 0;
  color: var(--col1);
  > div:first-child {
    display: flex;
    align-items: center;
  }
}
input {
  border-radius: 0;
}
.ui-slider .ui-slider-handle {
  background: var(--accent) !important;
}
#left-menu-container {
  border: 0;
  background: transparent;
  color: inherit;
}
.filtri-palinsesto-container {
  box-shadow: none;
  background: var(--bg1);
  color: var(--col1);
  margin: 0;
  border: 0;
  .filtro-palinsesto {
    border-color: var(--accent);
    color: inherit;
    background: transparent;
    transition: 0.3s;
    border-radius: 0;
    &:hover {
      background: var(--accent-bg);
      color: var(--accent-txt);
    }
  }
}
#datepicker input {
  border-radius: 0;
  cursor: pointer;
  border: 1px solid var(--tableBorders);
}
.search-calendar-icon {
  filter: grayscale(1);
}
.slider-time-range-box {
  color: inherit;
}

.widget-hotbet-blasoni.column {
  padding: 10px;
}
.btn-blue {
  background: var(--accent-bg);
  color: var(--accent-txt);
  border: 0;
  outline: none;
  border-radius: 0;
  box-shadow: none;
  &:hover {
    box-shadow: none;
    border: 0;
    background: var(--accent-bg);
    color: var(--accent-txt);
    filter: brightness(0.9);
  }
}
//INHERIT ALL COLORS TO PARENTS BG +++++++++++++++++++++++++++++++++++++++++++++
.left-column-search-calendar-button,
#left-menu-primary li a,
.event-title,
#widget-hotbet-tab-result-percent-table td,
.widget-last-winnings-day,
.widget-last-winnings-played,
.time-col,
.prematch-left-menu-match-number,
.widget-news .newsText,
.widget-news-nonews .newsText,
.widget-calendar-date,
.corporate-blue,
.match-team-name,
.widget-bestseller-match-title,
.fluid-overview-sport-title,
.qualification-group {
  color: inherit !important;
}
.overview-live-fluid-fluid-btn-g,
.overview-live-fluid-fluid-btn-g:visited {
  color: inherit;
}
//INHERIT ALL COLORS TO PARENTS BG END +++++++++++++++++++++++++++++++++++++++++++++

.qualification-group-container li,
#left-menu-primary li {
  background: var(--bg1);
  color: var(--col1);
  border-bottom: 1px solid var(--tableBorders);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  box-shadow: none;
  padding: 0;
  line-height: inherit;
  min-height: 28px;
  flex-flow: row wrap;
  ul#prematch-left-menu-match-2-level {
    padding-left: 20px;
  }
  .prematch-left-menu-container.menuLeftCollapsable.collapse.in {
    width: 100%;
  }
  .prematch-left-menu-container {
    bottom: 0;
    .prematch-left-menu-match-2-level > li {
      border: 0;
    }
  }
  span.ico-left-col-sport.left {
    flex-shrink: 0;
  }
  > a {
    display: flex;
    height: 28px;
    align-items: center;
    span.right.prematch-left-menu-match-number {
      margin-left: auto;
    }
    span.icon-next {
      order: 2;
    }
  }
  span.left.left-menu-sport-title {
    display: block;
    width: auto;
    padding-right: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.banner-spacer {
  display: none;
}
#left-menu-primary-container,
#left-menu-secondary-container {
  border-top-color: var(--accent);
}

#footer {
  border-top-color: var(--accent);
  background: var(--bg1);
  color: var(--col1);
}
.barra-superiore-footer {
  background: #222;
  color: #fff;
}

.barra-superiore-footer {
  border-top-color: var(--accent);
}

span.hand-pointer.left.prematch-left-menu-nation-name + a {
  margin-left: auto;
}

.manif-selected {
  background: var(--accent-bg) !important;
  color: var(--accent-txt) !important;
}
#left-column {
  width: 220px;
}

span#slide-submenu {
  display: none;
}
.match-number-container {
  background: var(--accent-bg);
  color: var(--accent-txt);
}
.buttons-container-box {
  background: var(--bg1);
  color: var(--col1);
  border-radius: 0;
}
#widget-tab-box-favorita,
#widget-tab-box-thriller,
#widget-tab-box-cassaforte {
  padding: 0;
}

.widget-bestseller-table {
  margin: 0;
  th {
    background: var(--teableSubHeadersBg);
    color: var(--teableSubHeadersCol);
    padding: 0;
    height: 30px;
    border-bottom: 1px solid var(--accent-bg);
  }
  tr {
    background: var(--mainBg);
    color: var(--mainBgCol);
    border-bottom: 1px solid var(--tableBorders);
  }
  .spacer {
    display: none;
  }
  .widget-btn-td {
    padding: 0;
    border-left: 1px solid var(--tableBorders);
  }

  .btn-widget {
    width: 100%;
    border-radius: 0;
    background: transparent;
    color: inherit;
    text-shadow: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    margin: 0;
    padding: 0;
    height: 30px;
    border: 0 !important;
    &.giocabilita-s,
    &:hover {
      background: var(--accent-bg);
      color: var(--accent-txt);
    }
  }
}

#widget-bestseller-box {
  .buttons-container-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
#upcoming-box-container {
  .buttons-container-header {
    .right {
      margin-left: auto;
    }
  }
}

.widget-bestseller-tab-title-container,
.widget-hotbet-tab-title-container,
div#live-betting-button-sport-container {
  position: relative;
  left: 0;
  margin-left: auto;
  height: 28px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.center-top-quote-title {
  display: flex;
  align-items: center;
}
#widget-hotbet-box .tab-content {
  background: none;
}
.widget-tab-box-hotbet {
  padding: 0;
}
.widget.left-column {
  margin: 0;
}
.widget-info-text-container {
  background: var(--teableSubHeadersBg);
  color: var(--teableSubHeadersCol);
  display: flex;
  align-items: center;
  padding: 0;
  height: 28px;
  padding-left: 5px;
}
.widget-hotbet-match-container {
  padding: 0;
}
.progress {
  height: 4px;
  background-color: var(--mainBg);
}
.progress-bar-striped,
.progress-striped .progress-bar {
  background: var(--accent-bg);
  background-image: none;
  background-color: var(--accent-bg) !important;
}
#widget-last-news {
  background: var(--bg1);
  color: var(--col1);
}
#shopping-cart .live-menu-title > span {
  margin-left: auto;
}
#widget-bestseller-box .nav-tabs > li.active > a,
#widget-bestseller-box .nav-tabs > li.active > a:focus,
#widget-bestseller-box .nav-tabs > li.active > a:hover,
#widget-hotbet-box .nav-tabs > li.active > a,
#widget-hotbet-box .nav-tabs > li.active > a:focus,
#widget-hotbet-box .nav-tabs > li.active > a:hover {
  background: var(--accent-bg);
  color: var(--accent-txt) !important;
}
.widget-last-winnings-container {
  background: var(--mainBg);
  margin: 0;
  width: auto;
  color: var(--mainBgCol);
}
html .btn-azure {
  background: var(--accent-bg);
  color: var(--accent-txt) !important;
  text-shadow: none !important;
  border-radius: 0;
}
.btn-live-text {
  display: none !important;
}
.livebetting-prematch,
.btn-live {
  min-width: auto;
  width: 36px !important;
  background: transparent;
  border-left: 1px solid var(--teableHeadersCol);
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}
.btn-live.selected {
  border-radius: 0;
  background-image: none !important;
  background: var(--accent-bg);
}
.tbl-title-box {
  color: inherit;
  background-color: transparent;
}
.sport-match-container-header {
  background: var(--teableSubHeadersBg);
  color: var(--teableSubHeadersCol);
}
.sport-match-separator-box {
  background: var(--teableSubHeadersBg);
  color: var(--teableSubHeadersCol);
  border-top: 1px solid var(--tableBorders);
}
.match-separator-table .tbl-title-box {
  background: transparent;
  color: inherit;
}
.prematch-separator-table .tbl-title-box {
  background: transparent;
  color: inherit;
}
.prematch-separator-table .tbl-title-box td {
  border-color: var(--tableBorders);
}
.buttons-container-header .ico-print {
  margin-left: auto !important;
}
.next-live-plus-quote-container {
  background: transparent;
}
.spacer-1 {
  display: none;
}
.match-titles-table .border-right {
  border-color: var(--tableBorders);
}
.sport-prematch-container:hover,
.sport-prematch-container:hover .next-live-plus-quote-container,
.sport-prematch-container:hover .td-alias {
  background-color: transparent !important;
}

.sport-prematch-container:hover .event-title-width p,
.sport-prematch-container:hover .td-alias,
.sport-prematch-container:hover .next-live-plus-quote-container,
.sport-prematch-container:hover #tbd-fav-table td {
  text-shadow: none;
}
.td-alias {
  background: transparent;
}
.sport-prematch-container {
  border-bottom: 1px solid var(--tableBorders);
}
.buttons-container-header.tabs-container {
  background-image: var(--teableHeadersBg);
  color: var(--teableHeadersCol);
}
#fluid-overview-live-container {
  border: 0;
}
#fluid-overview-live-table .heading-row {
  background: var(--teableSubHeadersBg);
  color: var(--teableSubHeadersCol);
}
.overview-live-black-tab {
  background: transparent;
  color: inherit;
}

#fluid-overview-live-container table {
  color: inherit;
}
#fluid-overview-live-container .subtitle-row td table td {
  background: var(--accent-bg);
  color: var(--accent-txt);
}
.fluid-overview-sport-title {
  top: 0;
}

#fluid-overview-live-container
  .subtitle-row
  .fluid-overview-live-quotes-box-table
  td,
#fluid-overview-live-container
  .fluid-overview-live-no-subtitle-bg
  .fluid-overview-live-initials-td,
#fluid-overview-live-container
  .fluid-overview-live-no-subtitle-bg
  .fluid-overview-live-full-time-td {
  background: var(--teableHeadersBg);
  color: var(--teableHeadersCol);
}
#fluid-overview-live-container .simple-row {
  background: var(--mainBg);
  color: var(--mainBgCol);
}
.fluid-overview-live-time-td {
  background: var(--bg1);
  color: var(--col1);
}
.overview-live-fluid-fluid-btn-g,
.overview-live-fluid-fluid-btn-g:visited {
  text-shadow: none;
}
#fluid-overview-live-container .simple-row .fluid-overview-live-infos-td {
  background-color: var(--mainBg);
  color: var(--mainBgCol);
}
.simple-row .fluid-overview-live-initials-td {
  border-color: var(--tableBorders);
}
.close-box-container {
  background: var(--teableHeadersBg);
  color: var(--teableHeadersCol);
}
i.fa.fa-2x.fa-question-circle.fa-3 {
  color: var(--mainBgCol);
  font-size: 15px;
  margin-left: 10px;
}
.bg-colore-1 {
  background: var(--accent-bg);
  color: var(--accent-txt) !important;
}

.match-stats-icon {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    content: "\f68f";
    font-family: "Font Awesome 5 Pro";
  }
}

.shopping-cart-extra-icons-container a:hover {
  background: var(--accent-bg);
  color: var(--accent-txt);
}
.cart-potential-winning-box {
  background: var(--accent-bg);
  color: var(--accent-txt);
}
.team-chose-cart-table .evidence-color {
  color: var(--accent);
}
.nav-pills > li > a {
  background: var(--bg1);
  color: var(--col1);
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background: var(--accent-bg);
  color: var(--accent-txt);
}
.cart-header {
  background: var(--teableHeadersBg);
  color: var(--teableHeadersCol);
}
.fa-caret-down:before {
  content: "\f0d7";
  font-weight: 300 !important;
  font-family: "Font Awesome 5 Pro";
}
body {
  .list-group {
    margin-bottom: 0;
  }
  #fluid-overview-live-table .match-stats-icon {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .giocabilita-s {
    background: var(--mainBg);
    color: var(--mainBgCol);
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    border: 0;
    font-weight: 300;
    text-shadow: none;
    &:hover {
      background: var(--accent-bg);
      color: var(--accent-txt);
    }
  }
  #fluid-overview-live-container .fluid-overview-live-handicap-table {
    height: 35px;
    padding: 0;
    margin: auto;
  }
  .overview-live-fluid-giocabilita-s,
  .overview-live-fluid-giocabilita-s:visited,
  a.overview-live-fluid-fluid-btn-g.centinaia {
    box-shadow: none;
    border: 0;
    border-radius: 0;
    background: var(--bg1);
    color: var(--col1);
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    &.giocabilita-s {
      background: var(--accent-bg);
      color: var(--accent-txt);
    }
  }
  #fluid-overview-live-container .handicap-green-bg {
    background: var(--teableSubHeadersBg);
    color: var(--teableSubHeadersCol);
  }
  #fluid-overview-live-container .subtitle-row .fluid-overview-live-infos-td {
    background: transparent;
  }
  .selectedAvv {
    background: var(--mainBg) !important;
  }
  .hdnButton {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fluid-heading-span {
    font-size: 12px;
    line-height: 11px;
    margin: 0;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-weight: 300;
  }
  #fluid-overview-live-container .simple-row td {
    padding: 0;
  }
}
#content .box-container {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-evenly;
}
#upcoming-box-container .next-live-btns-container td {
  display: none;
}

#upcoming-box-container [id*="header-data-esiti"] td {
  display: none;
}
#upcoming-box-container [id*="header-data-esiti"] td:nth-child(1),
#upcoming-box-container [id*="header-data-esiti"] td:nth-child(2),
#upcoming-box-container [id*="header-data-esiti"] td:nth-child(3) {
  display: table-cell;
}

#tbd-fav-table td:nth-child(1),
#tbd-fav-table td:nth-child(2),
#tbd-fav-table td:nth-child(3) {
  display: table-cell;
}
#upcoming-box-container .buttons-container-body > div:first-child {
  .sport-match-container-header {
    display: none;
  }
}
#upcoming-box-container {
  .game-bonus-container {
    display: none;
  }
  .tbl-title-box td {
    height: 30px;
  }
  .giocabilita-s {
    height: 30px;
    width: 100%;
    background: var(--bg1);
    color: var(--col1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    text-shadow: none;
    border: 0;
    box-shadow: none;
    background-image: none;
    border-left: 1px solid var(--tableBorders);
    span {
      color: var(--col1);
    }
    &:hover {
      background: var(--accent-bg);
      color: var(--accent-txt);
      span {
        color: var(--accent-txt);
      }
    }
  }
  .prematch-fluid-giocabilita-s,
  .prematch-fluid-giocabilita-s:visited,
  .giocabilita-q5-ex,
  .giocabilita-q5-ex:hover {
    background: var(--accent-bg);
    color: var(--accent-txt);
    height: 30px !important;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    text-shadow: none;
    border: 0;
    box-shadow: none;
    background-image: none;
    border-left: 1px solid var(--tableBorders) !important;
    span {
      color: var(--accent-txt);
    }
  }
  .next-live-btns-container {
    padding: 0;
  }
}
#widget-hotbet-tab-result-percent-table {
  .hotbet-tab-result-progress-td .progress {
    border-radius: 0;
    height: 4px;
  }
  td.hotbet-tab-result-percent-td,
  .hotbet-tab-result-txt-td,
  .hotbet-tab-result-quote-td {
    width: 10%;
    text-align: center;
  }
  td.hotbet-tab-result-progress-td {
    width: 70%;
  }
}
.btn-widget.white {
  background: var(--mainBg);
  border: 1px solid var(--tableBorders);
  border-radius: 0;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;

  &:hover {
    background: var(--accent-bg);
    color: var(--accent-txt);
  }
}
.widget-hotbet-tab-result-container {
  border: 0;
}
.tab-coupon-final-count-box {
  background: var(--bg1);
  color: var(--col1);
}

.cart-potential-winning-result {
  background: none;
  background-color: var(--bg1);
  color: var(--col1);
}
.cart-boxes-number {
  background: var(--teableSubHeadersBg);
  color: var(--teableSubHeadersCol);
}

.cart-sistema-final-input-table {
  background: var(--bg1);
  color: var(--col1);
  border: 0;
}
.cart-event-summary-table {
  background: var(--bg1);
  color: var(--col1);
  border: 0;
}
.tab-coupon-final-count-box .evidence-color,
.cart-event-summary-table .evidence-color {
  color: var(--accent);
}

.cart-system-bet-all-box {
  background: var(--teableSubHeadersBg);
  color: var(--teableSubHeadersCol);
  border: 0;
}
.cart-sistema-final-input-table.final-input-theader div {
  background: var(--mainBg);
  color: var(--mainBgCol);
}

.cart.btn-red,
.cart.btn-yellow,
.cart.btn-green {
  text-shadow: none !important;
  border-radius: 0;
  color: #222 !important;
}
.big-star-icon {
  filter: grayscale(1);
}
.cart-sistema-final-input-table div.cart-input-winnings {
  border-right: 0;
}
.cart-event-summary.cart-event-option,
.cart-sistema-final-input-table div,
.cart-event-summary-table .system-event {
  border-color: var(--tableBorders);
}
.widget-hotbet-tab-result-quotes-title {
  padding-left: 5px;
}
.cart-mode {
  border-top: 0;
}
.cart-sistema-final-input-table.final-input-theader div:last-child,
.cart-event-summary-table .system-event {
  border-right: 0;
}
.shopping-cart-result-box {
  border-bottom: 0;
  box-shadow: none;
  margin: 0;
}
.cart-sistema-arrow-up {
  border-bottom: 5px solid var(--col1);
}
.cart-sistema-arrow-down {
  border-top: 5px solid var(--col1);
}
#cart-multiple,
#cart-systems {
  width: 100% !important;
}
.cart-input-import-input {
  background: var(--mainBg);
  color: var(--mainBgCol);
  height: 20px;
  border-radius: 0;
  text-align: center;
}
.banker-letter-box.oven {
  background: var(--teableHeadersBg);
  color: var(--teableHeadersCol);
}
.fluid-prematch-matches-event-td,
.fluid-prematch-matches-time-td,
.fluid-prematch-matches-alias-td,
#fluid-prematch-matches-container .date-time-row td,
.fluid-prematch-time-span,
.fluid-prematch-event-span,
.fluid-prematch-black-tab {
  color: inherit;
}
.fluid-prematch-black-tab {
  background: transparent;
}
#fluid-prematch-matches-container .date-time-row {
  background: var(--teableSubHeadersBg);
  color: var(--teableSubHeadersCol);
}
.fluid-prematch-matches-event-td,
.fluid-prematch-matches-time-td {
  border-color: var(--tableBorders);
}
#fluid-prematch-matches-container {
  border-top: 0;
  .heading-row {
    background: var(--teableSubHeadersBg);
    color: var(--teableSubHeadersCol);
  }
}
span.lockitem.ico-lock-live-betting {
  background-image: none;
  &:before {
    content: "\f023";

    font: normal normal normal 14px/1 FontAwesome;
  }
}
#footer {
  display: none !important;
}
.tooltip-inner {
  box-shadow: none;
  border: 1px solid var(--accent);
  border-radius: 0;
  font-weight: 300;
  background: var(--mainBg);
  color: var(--mainBgCol);
}
.tooltip.top .tooltip-arrow {
  border-top-color: var(--accent);
}
span.title-close-ico.left:before {
  content: "\f00d";
  font-family: "FontAwesome";
  font-weight: 300 !important;
}
span.title-close-ico.left {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 26px;
  margin-right: 10px;
}
.btn-live.arrow {
  width: 20px;
  height: 20px;
  text-align: center;
  border: 0;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--accent);
  border-radius: 0;
  margin-right: 2px;
  background: var(--bg1);
  color: var(--col1) !important;
  padding: 0 !important;
}
.refreshButtonPrematch {
  background-image: none !important;
  &::before {
    content: "\f021";
    font-family: "FontAwesome";
  }
}
span.btn-live.arrow.printerPrematchBox {
  background-image: none !important;
  &::before {
    content: "\f02f";
    font-family: "FontAwesome";
  }
}
.btn-live.arrow .arrow-tlt-black {
  background-image: none !important;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  color: inherit !important;
  &::before {
    content: "\f077";
    font-family: "FontAwesome";
  }
}
span.btn-live.arrow.refreshAllButtonPrematch {
  background-image: none !important;
  &::before {
    content: "\f079";
    font-family: "FontAwesome";
  }
}
span.btn-live.arrow.closeAllButtonPrematch {
  background-image: none !important;
  &::before {
    content: "\f057";
    font-family: "FontAwesome";
  }
}
.buttons-container-header .right {
  margin-left: auto;
  display: flex;
}
#right-column-search-box {
  padding: 0 !important;
}
#wrapper.prematch .games-btn-container,
#wrapper.live_prematch .games-btn-container {
  display: flex;
  flex-flow: row wrap;
}
#wrapper.prematch .game-btn-8,
#wrapper.live_prematch .game-btn-8 {
  flex-grow: 1;
}

#wrapper.prematch .games-btn-container.oven .dropdown-toggle,
#wrapper.prematch .games-btn-container.oven .game-event-btn,
#wrapper.live_prematch .games-btn-container.oven .dropdown-toggle,
#wrapper.live_prematch .games-btn-container.oven .game-event-btn {
  box-shadow: none;
  border: 0;
  background: var(--bg1);
  color: var(--col1) !important;
  border-radius: 0;
  border-right: 1px solid var(--tableBorders);
  border-bottom: 1px solid var(--tableBorders);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

body {
  .game-btn {
    text-shadow: none;
    border: 0;
    border-radius: 0;
    margin: 0 !important;
    background: var(--mainBg);
    color: var(--mainBgCol);
    border-right: 1px solid var(--tableBorders) !important;
    border-bottom: 1px solid var(--tableBorders) !important;
    &:hover {
      background: var(--accent-bg);
      color: var(--accent-txt);
      text-shadow: none;
    }
  }
}
#fluid-prematch-matches-container .match-stats-icon {
  left: 0;
  display: flex;
  justify-content: center;
}
.games-btn-container .game-btn.selected,
#wrapper.live_prematch .games-btn-container.oven,
#wrapper.prematch .games-btn-container.oven .dropdown-toggle.selected,
#wrapper.prematch .games-btn-container.oven .game-event-btn.selected,
#wrapper.live_prematch .games-btn-container.oven .dropdown-toggle.selected,
#wrapper.live_prematch .games-btn-container.oven .game-event-btn.selected,
#wrapper.prematch .games-btn-container.oven .dropdown-toggle:hover,
#wrapper.prematch .games-btn-container.oven .game-event-btn:hover,
#wrapper.live_prematch .games-btn-container.oven .dropdown-toggle:hover,
#wrapper.live_prematch .games-btn-container.oven .game-event-btn:hover {
  background-image: none !important;
  background: var(--accent-bg) !important;
  color: var(--accent-txt) !important;
  text-shadow: none;
  font-weight: 300;

  &:hover {
    background-image: none !important;
    background: var(--accent-bg) !important;
    color: var(--accent-txt) !important;
    text-shadow: none;
    font-weight: 300;
  }
}
span.menu_left_it.ico-categoria-codice-sport-1-codice-categoria-31 {
  margin: 0 !important;
  margin-right: 10px !important;
}
#fluid-prematch-matches-container .simple-row:hover,
.simple-row:hover .fluid-prematch-info-esiti-td {
  background: var(--mainBg) !important;
  color: var(--mainBgCol);
}
.fluid-prematch-matches-event-td,
.fluid-prematch-matches-time-td {
  border-color: var(--tableBorders);
}
.fluid-prematch-matches-alias-td {
  border-color: var(--tableBorders);
}
.fluid-prematch-plus-quote-box,
.fluid-prematch-plus-quote-box a,
.titoloNazioneStampaQuote,
.stampa-quote-container {
  color: inherit;
}

.fluid-prematch-info-esiti-td {
  background: var(--bg1);
  color: var(--col1);
}
#fluid-prematch-matches-container .simple-row td {
  padding: 0;
}
.prematch-fluid-giocabilita-s,
.prematch-fluid-giocabilita-s:visited {
  background-image: none;
  box-shadow: none;
  background: var(--mainBg);
  color: var(--mainBgCol) !important;
  text-shadow: none !important;
  border-radius: 0 !important;
  border: 1px solid var(--tableBorders) !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
  height: 32px !important;
  &:hover {
    background: var(--accent-bg) !important;
    color: var(--accent-txt) !important;
  }
}
.giocabilita-q5-ex,
.giocabilita-q5-ex:hover {
  background-image: none;
  box-shadow: none;
  background: var(--accent-bg) !important;
  color: var(--accent-txt) !important;
  text-shadow: none !important;
  border-radius: 0 !important;
  border: 0 !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
}
.simple-row .fluid-prematch-intertd-spacer {
  display: none;
}
#prematch-left-menu-match-2-level li a,
#prematch-left-menu-match-2-level li a:hover {
  display: flex;
}
span.ico-fav {
  filter: grayscale(1) brightness(11);
  mix-blend-mode: exclusion;
}
#left-menu-primary li.hand-pointer {
  background: var(--secondary-bg);
  color: var(--secondary-txt);
  padding-left: 10px;
  .ico-left-col-sport {
    display: none;
  }
}
.titoloSportStampaQuoteRightArrow {
  color: inherit;
  border: 0;
}
#shopping-cart .live-menu-title {
  margin: 0;
}
.titoloNazioneStampaQuote {
  margin-top: 0;
  margin-bottom: 0;
  border-color: var(--tableBorders);
  background: var(--teableSubHeadersBg);
  color: var(--teableSubHeadersCol);
  font-weight: 300;
}
.stampa-quote-classi-table-row {
  margin: 0;
  line-height: initial;
  width: 100%;
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.generalSportButtonHeader > .ico-sport {
  background-color: var(--teableHeadersCol);
  padding: 12px;
  border-radius: 25px;
  border: 2px solid var(--teableHeadersCol);
  cursor: pointer;
}
.box-live .subtitle-row td.fluid-overview-live-quotes-td {
  background: transparent;
}
.fluid-overview-sport-title {
  max-width: 190px;
}
.service-tennis,
.service-volley {
  margin: 0;
}
#fluid-overview-live-container .simple-row {
  border-bottom: 1px solid var(--tableBorders);
}
.live-menu-title.live-menu-title-header-tournament {
  background: var(--bg1);
  color: var(--col1);
  > a,
  span,
  .text-white {
    color: inherit !important;
  }
}
.live-menu-team-detail-events {
  border-top: 1px solid var(--tableBorders);
}
.live-menu-pref li {
  background: var(--mainBg);
  color: var(--mainBgCol);
  margin-bottom: 0;
  .live-menu-team-titl-box,
  > div,
  .live-menu-team-game,
  div .live-team-game-situation {
    color: inherit;
  }
  .live-menu-team-detail-events {
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 30px;
    > .live-detail-event-box {
      width: calc(100% / 3);
      display: flex;
      align-items: center;
      justify-content: center;

      border-right: 1px solid var(--tableBorders);
    }
  }
}
.text-white,
.live-team-time,
.match-info-text-team-names-box.match-finished {
  color: inherit !important;
}
.info-text-box-container.title-big {
  background: var(--bg1);
  color: var(--col1);
  border: 0;
  margin: 0;
}
.game-event-btn {
  background: var(--mainBg);
  color: var(--mainBgCol);
  text-shadow: none;
  border: 1px solid var(--tableBorders) !important;
  margin: 3px !important;
  &:hover,
  &.selected {
    background: var(--accent-bg);
    color: var(--accent-txt);
    text-shadow: none;
  }
}
.live-match-singolar-match-container {
  display: flex;
  flex-flow: row wrap;
}
.live-match-match-box {
  margin: 1px !important;
  width: calc(100% / 3 - 2px);
  float: none;
  display: flex !important;
  flex-flow: column;
  [class*="live-multi-match-details-box"] {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
  }
  .live-multi-match-3col-box,
  .live-multi-match-2col-box,
  .live-multi-match-1col-box {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
  }
  .live-multi-2col-singolar-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% / 2);
    flex-grow: 1;

    margin: 0;
    padding: 0;
  }
  .live-multi-1col-singolar-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100%);
    flex-grow: 1;

    margin: 0;
    padding: 0;
  }
  .live-multi-3col-singolar-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% / 3);
    flex-grow: 1;

    margin: 0;
    padding: 0;
  }
  .live-multi-match-3col-box a,
  .live-multi-match-2col-box a,
  .live-multi-match-1col-box a {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    border: 0;
    box-shadow: none;
    background: var(--bg1);
    color: var(--col1);
    border-right: 1px solid var(--tableBorders);
    &:last-child {
      border-right: 0;
    }
  }
  .giocabilita-q5-ex,
  .giocabilita-q5-ex:hover {
    padding: 2px 5px !important;
  }
}
.live-match-match-title {
  background: var(--teableSubHeadersBg);
  border: 0;
  color: var(--teableSubHeadersCol);
}
.live-match-match-box:nth-child(3n + 3) {
  margin: 1px !important;
}
.prematch-event-selected-btn-table td {
  background-color: var(--mainBg);
  color: var(--mainBgCol);
}
.sport-team-title-container {
  background: var(--teableSubHeadersBg);
  color: var(--teableSubHeadersCol);
}
.prematch-avvenimento-tbl-btn-container a {
  background: var(--bg1);
  color: var(--col1);
  box-shadow: none;
  border-color: var(--tableBorders);
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: var(--bg1);
    color: var(--col1);
    border-color: var(--tableBorders);
  }
}
.td-right-border {
  border-color: var(--tableBorders);
}
