//
.widgetHeader {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  text-align: center;
  border: 0;
  background: var(--teableHeadersBg);
  color: var(--teableHeadersCol);
  .label {
    color: inherit;
    margin: 0%;
    padding: 0;
  }
}
.widgetBody {
  background: var(--bg1);
  color: var(--col1);
  border-radius: 0;
}
.widgetDescriptionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
