//
.widgetHeader {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  border: 0;
  background: var(--teableHeadersBg);
  color: var(--teableHeadersCol);
  .label {
    color: inherit;
    margin: 0%;
    padding: 0;
  }
}
