@import "vars";
body a.cg-nav-logo.cg-customerLiteLogo {
  background-image: none;
  &::before {
    content: "";
    background-image: url("#{$logoUrl}");
    background-position: center;
    background-size: contain;
    display: block;
    height: 44px;
    width: 150px;
    transform: translateX(-67px);
    background-repeat: no-repeat;
  }
}
html body {
  background-color: var(--mainBg);
  color: var(--mainBgCol);
}

body {
  .cg-deposit-button {
    background: var(--accent-bg);
    color: var(--accent-txt);
    border: 1px solid var(--accent);
    border-radius: 0;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
  .cg-top-navbar {
    background: var(--primary-bg);
    color: var(--primary-txt);
  }
  #nav-temporal-filter {
    background: var(--bg1);
    color: var(--col1);
    border: 0;
    box-shadow: none;
  }
  .main-content {
    background: var(--mainBg);
    color: var(--mainBgCol);
  }
  .menu-container {
    display: flex;
    display: flex;
    flex-flow: column;
  }
  .list-element {
    background: var(--bg1) !important;
    color: var(--col1) !important;
    margin: 4px;
    width: calc(100% - 18px);
    margin: 4px auto;
    border-radius: 20px;
    padding: 0 15px;
    border-bottom: 3px solid var(--tableBorders);
  }
  .prematch-sport-img {
    border-radius: 25px;
  }
  .nav-item-container.selected,
  .nav-slider-item-container.selected {
    border-color: var(--accent);
  }
  .list-heading {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 0;
  }
  .cg-slide-alternative-button > div {
    font-size: 11px;
    text-align: center;
    font-weight: 450;
    line-height: 12px;
  }
  .nav-go-back {
    background: var(--accent-bg);
    color: var(--accent-txt);
    border: 0 !important;
  }
  .nav-section-title.expandable::after,
  .nav-breadcrumb:after {
    color: inherit;
  }
  .esito {
    background: var(--bg1);
    color: var(--col1);
    &.bet-selected {
      background: var(--accent-bg);
      color: var(--accent-txt);
      > span {
        color: inherit;
      }
      hr {
        border-color: var(--accent-txt);
      }
    }
  }
  .arrow-container {
    width: 35px;
  }
  .nav-section-title.centered {
    white-space: nowrap;
  }
  .show.list-element-quota .esiti-container {
    width: calc(100% - 8px);
    margin: auto;
  }

  .nav-slider-item,
  .cg-iconContainer {
    color: inherit;
  }
  .cg-iconContainer .cg-selection-border {
    background: var(--accent);
  }
  .cg-notification-circle {
    background: var(--accent-bg);
    color: var(--accent-txt);
  }
  .cg-slide-buttons,
  .cg-slide-alternative-button {
    background: var(--accent-bg);
    color: var(--accent-txt);
    border: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 0;
  }
  #cg-slide-footer {
    display: none;
  }
  #cg-right-block-menu {
    background: var(--backDrops);
  }
  .search-overlay .input-container {
    background: var(--accent-bg);
    color: var(--accent-txt);
    box-shadow: none;
  }
  #input-search-events {
    color: var(--accent-txt);
  }
  .cg-signup-logo {
    display: none;
  }
  .cg-slide-field-wrapper {
    border-radius: 0;
    border-color: var(--tableBorders);
  }
  .cg-slide-field-container:last-of-type {
    border-bottom-width: 0 !important;
  }
  .cg-slide-title span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
  #cg-slide-footer2 {
    [style*="font-size: 10px"] {
      font-size: 12px !important;
    }
  }
}
