@import "vars";
body a.cg-nav-logo.cg-customerLiteLogo {
  background-image: none;
  &::before {
    content: "";
    background-image: url("#{$logoUrl}");
    background-position: center;
    background-size: contain;
    display: block;
    height: 44px;
    width: 150px;
    transform: translateX(-67px);
    background-repeat: no-repeat;
  }
}
html body {
  background: var(--mainBg) !important;
  color: var(--mainBgCol) !important;
}

body {
  #top-button {
    border-radius: 50px;
  }
  .cg-homeMenuIcoLite,
  .cg-searchIcoLite {
    filter: invert(1);
  }
  .coupon-result-text-box.multiple_live_entry {
    margin-left: 27px;
  }
  .effectiveCartContainer {
    font-size: 13px;
  }
  .shopping-cart-result-box {
    margin: 0;
    padding: 0;
    border: 1px solid var(--tableBorders);
    width: 95%;
    margin: auto;
    margin-top: 9px;
    .clearfix {
      display: none;
    }
  }
  .system-master > .banker-result-text-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 28px;
    background: #fff;
    color: #000;
    z-index: 0;
  }
  .system-master > .result-letter-box {
    margin-left: 0;
    position: relative;
    z-index: 1;
    background: var(--bg1);
    color: var(--col1);
    margin: 5px;
    width: 28px;
    height: 28px;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    left: 12px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .split-stake-container {
    margin-top: 0px !important;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    height: 28px;
    padding: 0 12px;
  }
  .combinations.left {
    display: flex;
    font-weight: 300;
    align-items: center;
    margin-left: 5px;
  }
  .cart-total-price {
    height: 28px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;

    .clearfix {
      display: none;
    }
  }
  .wave {
    display: none;
  }
  .container-bet-bet-refill {
    min-height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-bet-bet-refill > .btn {
    width: calc(100% / 3);
    border-radius: 0;
    box-shadow: none;
    border: 1px solid;
    background: var(--mainBg);
    color: var(--mainBgCol);
    &.btn-delete {
      color: rgb(204, 57, 31);
      border-color: rgb(204, 57, 31);
    }
    &.btn-reserve {
      color: rgb(204, 143, 31);
      border-color: rgb(204, 143, 31);
    }
    &.btn-play {
      color: rgb(31, 160, 48);
      border-color: rgb(31, 160, 48);
    }
  }
  .potential-win-multiple,
  .potential-win-system {
    color: var(--accent);
    font-size: 27px;
    font-weight: 300;
    font-family: "Roboto";
  }
  .vincita-totale {
    background: var(--mainBg);
    color: var(--mainBgCol);
    width: 100%;
    margin: 0;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid var(--tableBorders);
    border-bottom: 1px solid var(--tableBorders);
    box-shadow: none;
    padding: 7px;
    margin-top: 11px;
  }
  .cartLiner {
    height: 1px;
    display: inline-block;
    background: var(--tableBorders);
  }
  .system-master > .result-letter-box.oven {
    background: var(--accent-bg);
    color: var(--accent-txt);
  }
  .result-close-box {
    border: 0;
  }
  .shopping-cart-date-close-btn {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/close.svg");
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
  }
  .sistemi-result-input-box {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid var(--tableBorders);
    align-items: center;
    justify-content: space-between;
    min-height: 28px;
    padding: 2px 12px;
  }
  .sistemi-result-import-title {
    background: transparent;
    color: var(--col1);
  }
  .sistemi-result-check-box {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .sistemi-result-inputtype-box {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sistemi-result-ncomb-title > div {
    padding: 0;
    margin: 0;
  }
  .title-winner {
    margin: 0 15px;
  }
  .sistemi-result-ncomb-title {
    font-size: 12px;
    background: transparent;
    background: var(--bg1);
    color: var(--col1);
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 0;
    padding: 0;
  }
  .coupon-multiple-amount-input,
  .sistemi-input-result {
    width: 100%;
    max-width: 51px;
    border: 1px solid var(--tableBorders);
    border-radius: 0;
    text-align: center;
    background: var(--bg1);
    color: var(--col1);
    text-align: center;
    &::placeholder {
      color: var(--col1);
    }
  }
  .banker-result-container {
    display: flex;
    flex-flow: column;
    > span {
      display: flex;
      position: relative;
      align-items: center;
      border-bottom: 1px solid var(--tableBorders);
      justify-content: space-between;
      &:last-child {
        border: 0;
      }
      .coupon-result-text-box {
        display: flex;
      }
    }
  }
  .left.vminvmax {
    border: 0;
    background: transparent;
    color: var(--accent);
    border-left: 1px solid var(--tableBorders);
    padding-left: 5px;
    margin-left: 5px;
  }
  .cart-desc-scom {
    display: flex;
    align-items: center;
  }
  .cart-desc-draw-odd {
    display: flex;
    align-items: center;
  }
  .shopping-cart-result-box.system-master.system_live_entry {
    padding-left: 12px;
  }
  .shopping-cart-result-box.system-master.system_live_entry {
    min-height: 64px;
  }
  #coupon-multiple-append {
    .shopping-cart-result-box[data-animation="false"] {
      min-height: 63px;
    }
  }
  .inputReservation {
    height: 100%;
    background: var(--bg1);
    color: var(--col1);
    border-radius: 0;
    border: 1px solid var(--tableBorders);
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
  }
  .reservationAreaContainer {
    background: var(--mainBg);
    color: var(--mainBgCol);
    border: 0;
    box-shadow: none;
    width: 100% !important;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-top: 1px solid var(--tableBorders);
    margin-top: 11px;
    border-bottom: 1px solid var(--tableBorders);
  }
  .headerPrenotazioniEffettuate {
    border: 0;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    background: transparent;
    color: inherit;
  }
  .formReloadReservation > .reloadReservationButton {
    background: var(--bg1);
    color: var(--col1);
    border: 1px solid var(--tableBorders);
    border-radius: 0;
    height: 39px;
    margin-top: 0;
    position: relative;
    top: -1px;
  }
  .coupon-result-text-box.multiple_live_entry:before,
  .system-master.system_live_entry:before {
    background-color: transparent;
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/livecpn.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    width: 70px;
    height: 66px;
    top: -2px;
    left: -24px;
    z-index: 1;
  }
  .info-score {
    background: var(--accent-bg);
    border-radius: 0px;
    color: var(--accent-txt);
    box-shadow: none;
  }
  .cg-recover-button-border {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 0;
    border: 0;
  }
  .cg-recover-input-border.cg-recover-ok {
    border-radius: 0;
    border: 1px solid var(--tableBorders);
  }
  .cg-recover-separator {
    border: 0;
    background: var(--teableHeadersBg);
    color: var(--teableHeadersCol);
    text-shadow: none;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Roboto";
  }
  .cg-recover-logo {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/logo.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .cg-slide-field-container {
    display: flex;
    align-items: center;
  }
  i.cg-icon.ion-md-albums {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/interface.svg");
    &::before {
      content: "";
    }
  }
  i.cg-icon.ion-md-send {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/recommendation.svg");
    &::before {
      content: "";
    }
  }
  i.cg-icon.cg-ico-search {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/seo.svg");
    &::before {
      content: "";
    }
  }
  .cg-ico-sport {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/sports.svg");
    &::before {
      content: "";
    }
  }

  .cg-ico-prematch {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/sports.svg");
  }
  .cg-ico-live {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/live.svg");
  }
  .cg-ico-cart {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/receipt.svg");
  }
  .cg-ico-user {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/user.svg");
  }
  .cg-ico-casino {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/jackpot.svg");
  }
  .cg-slide-ico-home {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/homepage.svg");
  }
  .cg-slide-ico-prematch {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/sports.svg");
  }
  .cg-slide-ico-promo {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/promotion.svg");
  }
  .cg-slide-ico-casino-live {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/chips.svg");
  }
  .cg-slide-ico-poker {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/poker-cards.svg");
  }
  .cg-slide-ico-lotterie {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/lottery.svg");
  }
  .cg-slide-ico-carte {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/cartee.svg");
  }
  .cg-slide-ico-virtual {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/race-horse.svg");
  }
  .cg-slide-ico-gv {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/card.svg");
  }
  .cg-slide-ico-bingo {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/bingo.svg");
  }
  .cg-slide-ico-ippica {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/ippica.png");
  }
  div#cg-external-chat {
    &:before {
      content: "";
      width: 25px;
      height: 40px;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 10px;
      background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/chat.svg");
    }
  }
  div#cg-desktop-mode {
    &:before {
      content: "";
      width: 25px;
      height: 40px;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 10px;
      background-size: contain;
      background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/monitor.svg");
    }
  }
  div#cg-faq-contogioco,
  div#cg-faq-regole-sport {
    &:before {
      content: "";
      width: 25px;
      height: 40px;
      margin-right: 10px;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/documents.svg");
    }
  }
  .cg-deposit-button {
    background: var(--accent-bg);
    color: var(--accent-txt);
    border: 1px solid var(--accent);
    border-radius: 0;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-right: 15px;
  }
  .cg-top-navbar {
    background: var(--primary-bg);
    color: var(--primary-txt);
  }
  #nav-temporal-filter {
    background: var(--bg1);
    color: var(--col1);
    border: 0;
    box-shadow: none;
  }
  .main-content {
    background: var(--mainBg);
    color: var(--mainBgCol);
  }
  .menu-container {
    display: flex;
    display: flex;
    flex-flow: column;
  }
  .list-element {
    background: var(--bg1) !important;
    color: var(--col1) !important;
    margin: 4px;
    width: calc(100% - 18px);
    margin: 4px auto;
    border-radius: 20px;
    padding: 0 15px;
    border-bottom: 3px solid var(--tableBorders);
  }
  .prematch-sport-img {
    border-radius: 25px;
  }
  .nav-slider-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-item-container.selected,
  .nav-slider-item-container.selected {
    border-color: var(--accent);
  }
  .list-heading {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 0;
  }
  .cg-slide-alternative-button > div {
    font-size: 11px;
    text-align: center;
    font-weight: 450;
    line-height: 12px;
  }
  .nav-go-back {
    background: var(--accent-bg);
    color: var(--accent-txt);
    border: 0 !important;
  }
  .nav-section-title.expandable::after,
  .nav-breadcrumb:after {
    color: inherit;
  }
  .esito {
    background: var(--bg1);
    color: var(--col1);
    &.bet-selected {
      background: var(--accent-bg);
      color: var(--accent-txt);
      > span {
        color: inherit;
      }
      hr {
        border-color: var(--accent-txt);
      }
    }
  }

  .arrow-container {
    width: 35px;
  }
  #input-search-events + .arrow-container {
    width: 75px;
  }
  .nav-section-title.centered {
    white-space: nowrap;
  }
  .show.list-element-quota .esiti-container {
    width: calc(100% - 8px);
    margin: auto;
  }

  .nav-slider-item,
  .cg-iconContainer {
    color: inherit;
  }
  .cg-iconContainer .cg-selection-border {
    background: var(--accent);
  }
  .cg-notification-circle {
    background: var(--accent-bg);
    color: var(--accent-txt);
  }
  .cg-slide-buttons,
  .cg-slide-alternative-button {
    background: var(--accent-bg);
    color: var(--accent-txt);
    border: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 0;
  }
  #cg-slide-footer {
    display: none;
  }
  #cg-right-block-menu {
    background: var(--backDrops);
  }
  .search-overlay .input-container {
    background: var(--accent-bg);
    color: var(--accent-txt);
    box-shadow: none;
  }
  #input-search-events {
    color: var(--accent-txt);
  }
  .cg-signup-logo {
    display: none;
  }
  .cg-slide-field-wrapper {
    border-radius: 0;
    border-color: var(--tableBorders);
  }
  .cg-slide-field-container:last-of-type {
    border-bottom-width: 0 !important;
  }
  .cg-slide-title span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
  #cg-slide-footer2 {
    [style*="font-size: 10px"] {
      font-size: 12px !important;
    }
  }
  #nav-live-sports {
    background: var(--bg1);
    color: var(--col1);
  }
  .nav-item .arrow,
  .nav-pills > li > a,
  .nav-go-back .arrow {
    color: inherit;
  }
  .cart-close-button {
    background: var(--bg1) !important;
    color: var(--col1) !important;
  }
  .nav-pills {
    background: var(--teableSubHeadersBg);
    color: var(--teableSubHeadersCol);
  }
  .border-bottom {
    background: var(--accent);
  }
  .effectiveCartContainer {
    width: 100%;
    margin-left: 0;
    border: 0;
  }
  .cart-sign-counters {
    background: var(--teableHeadersBg);
    color: var(--teableHeadersCol);
    display: flex;
    align-items: center;
    margin: 0;
    height: 35px;
  }
  .shopping-cart-bet-options-box {
    padding: 0;
  }
  .cg-landing-section-container {
    background: var(--teableHeadersBg);
    color: var(--teableHeadersCol);
  }
  .cg-live-circle {
    background: green;
  }
  .cg-odds-color,
  .cg-odd-live > .cg-top,
  .cg-odd.cg-selected > .cg-odd-right,
  .cg-odd-live.cg-selected > .cg-bottom,
  .cg-odd-antepost.cg-selected > .cg-bottom {
    color: inherit;
  }
  .cg-live-num-avvenimenti-sport {
    background: var(--accent-bg);
    color: var(--accent-txt);
  }
  .cg-live-sport.cg-acceso > .cg-live-sport-underline {
    background: var(--accent);
  }
  .cg-odd-live {
    border-color: var(--tableBorders);
  }
  .cg-odd.cg-selected,
  .cg-odd-live.cg-selected,
  .cg-odd-antepost.cg-selected {
    background: var(--accent-bg);
    color: var(--accent-txt);
    .cg-bottom {
      border-top-color: var(--accent-txt);
    }
  }
  .cg-live-period {
    font-size: 12px;
  }
  .cg-nav-buttons-container:last-of-type {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0;
  }
  .cg-menuTabMobile {
    background: var(--mainBg) !important;
    color: var(--mainBgCol) !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cg-buttons-row {
    box-shadow: none;
    width: 100%;
  }
  #leftContainer {
    background: var(--mainBg) !important;
    color: var(--mainBgCol);
  }
  .filterGameBar {
    background: var(--teableSubHeadersBg) !important;
    color: var(--teableSubHeadersCol);
  }
  .chooseTPLbutton {
    width: auto;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  .chooseTPLbutton DIV {
    width: 9px;
    height: 9px;
    /* float: left; */
    background: black;
    margin: 1px;
    display: inline-block;
    border-radius: 20px;
    border-bottom: 1px solid var(--accent);
    flex-shrink: 0;
  }
  .chooseTPLbutton.tplSelected > div {
    background: var(--accent-bg);
    color: var(--accent-txt);
  }
  .chooseTPLbuttonContainer {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    width: auto;
    flex-grow: 1;
    margin: 0;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    background: #dbdbdb;
  }
  .contentMain {
    background: var(--mainBg) !important;
  }
  .gameitle span {
    background: var(--accent-bg) !important;
    color: var(--accent-txt) !important;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 12px;
  }
  .descCategoria,
  .filtri-button-reset {
    color: inherit;
  }
  .icona {
    filter: invert(0);
  }
  #filtri-categorie .filtro.selected {
    border: 1px solid var(--accent) !important;
  }
  .filtri-button-apply {
    background: var(--accent-bg);
    color: var(--accent-txt) !important;
  }
  .cg-inputContainer > input {
    border-color: #ccc;
    border-radius: 0;
  }
  .cg-loginButton {
    border: 0;
    border-radius: 0;
    background: var(--accent-bg);
    color: var(--accent-txt) !important;
  }
  .cg-registerButton {
    border: 1px solid var(--accent);
    border-radius: 0;
  }
  .cg-wrapper-login-section {
    background: var(--bg1);
    color: var(--col1);
  }
  .cg-searchIcoLite {
    width: 30px;
    background-position: center;
  }
}
