@import "vars";
body a.cg-nav-logo.cg-customerLiteLogo {
  background-image: none;
  &::before {
    content: "";
    background-image: url("#{$logoUrl}");
    background-position: center;
    background-size: contain;
    display: block;
    height: 44px;
    width: 150px;
    transform: translateX(-67px);
    background-repeat: no-repeat;
  }
}
html body {
  background: var(--mainBg) !important;
  color: var(--mainBgCol) !important;
}

body {
  .info-score {
    background: var(--accent-bg);
    border-radius: 0px;
    color: var(--accent-txt);
    box-shadow: none;
  }
  .cg-recover-button-border {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 0;
    border: 0;
  }
  .cg-recover-input-border.cg-recover-ok {
    border-radius: 0;
    border: 1px solid var(--tableBorders);
  }
  .cg-recover-separator {
    border: 0;
    background: var(--teableHeadersBg);
    color: var(--teableHeadersCol);
    text-shadow: none;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Roboto";
  }
  .cg-recover-logo {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/logo.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .cg-slide-field-container {
    display: flex;
    align-items: center;
  }
  i.cg-icon.ion-md-albums {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/interface.svg");
    &::before {
      content: "";
    }
  }
  i.cg-icon.ion-md-send {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/recommendation.svg");
    &::before {
      content: "";
    }
  }
  i.cg-icon.cg-ico-search {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/seo.svg");
    &::before {
      content: "";
    }
  }
  .cg-ico-sport {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/sports.svg");
    &::before {
      content: "";
    }
  }

  .cg-ico-prematch {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/sports.svg");
  }
  .cg-ico-live {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/live.svg");
  }
  .cg-ico-cart {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/receipt.svg");
  }
  .cg-ico-user {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/user.svg");
  }
  .cg-ico-casino {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/jackpot.svg");
  }
  .cg-slide-ico-home {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/homepage.svg");
  }
  .cg-slide-ico-prematch {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/sports.svg");
  }
  .cg-slide-ico-promo {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/promotion.svg");
  }
  .cg-slide-ico-casino-live {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/chips.svg");
  }
  .cg-slide-ico-poker {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/poker-cards.svg");
  }
  .cg-slide-ico-lotterie {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/lottery.svg");
  }
  .cg-slide-ico-carte {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/cartee.svg");
  }
  .cg-slide-ico-virtual {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/race-horse.svg");
  }
  .cg-slide-ico-gv {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/card.svg");
  }
  .cg-slide-ico-bingo {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/bingo.svg");
  }
  div#cg-external-chat {
    &:before {
      content: "";
      width: 25px;
      height: 40px;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 10px;
      background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/chat.svg");
    }
  }
  div#cg-desktop-mode {
    &:before {
      content: "";
      width: 25px;
      height: 40px;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 10px;
      background-size: contain;
      background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/monitor.svg");
    }
  }
  div#cg-faq-contogioco,
  div#cg-faq-regole-sport {
    &:before {
      content: "";
      width: 25px;
      height: 40px;
      margin-right: 10px;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/mobicons/documents.svg");
    }
  }
  .cg-deposit-button {
    background: var(--accent-bg);
    color: var(--accent-txt);
    border: 1px solid var(--accent);
    border-radius: 0;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-right: 15px;
  }
  .cg-top-navbar {
    background: var(--primary-bg);
    color: var(--primary-txt);
  }
  #nav-temporal-filter {
    background: var(--bg1);
    color: var(--col1);
    border: 0;
    box-shadow: none;
  }
  .main-content {
    background: var(--mainBg);
    color: var(--mainBgCol);
  }
  .menu-container {
    display: flex;
    display: flex;
    flex-flow: column;
  }
  .list-element {
    background: var(--bg1) !important;
    color: var(--col1) !important;
    margin: 4px;
    width: calc(100% - 18px);
    margin: 4px auto;
    border-radius: 20px;
    padding: 0 15px;
    border-bottom: 3px solid var(--tableBorders);
  }
  .prematch-sport-img {
    border-radius: 25px;
  }
  .nav-slider-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-item-container.selected,
  .nav-slider-item-container.selected {
    border-color: var(--accent);
  }
  .list-heading {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 0;
  }
  .cg-slide-alternative-button > div {
    font-size: 11px;
    text-align: center;
    font-weight: 450;
    line-height: 12px;
  }
  .nav-go-back {
    background: var(--accent-bg);
    color: var(--accent-txt);
    border: 0 !important;
  }
  .nav-section-title.expandable::after,
  .nav-breadcrumb:after {
    color: inherit;
  }
  .esito {
    background: var(--bg1);
    color: var(--col1);
    &.bet-selected {
      background: var(--accent-bg);
      color: var(--accent-txt);
      > span {
        color: inherit;
      }
      hr {
        border-color: var(--accent-txt);
      }
    }
  }

  .arrow-container {
    width: 35px;
  }
  #input-search-events + .arrow-container {
    width: 75px;
  }
  .nav-section-title.centered {
    white-space: nowrap;
  }
  .show.list-element-quota .esiti-container {
    width: calc(100% - 8px);
    margin: auto;
  }

  .nav-slider-item,
  .cg-iconContainer {
    color: inherit;
  }
  .cg-iconContainer .cg-selection-border {
    background: var(--accent);
  }
  .cg-notification-circle {
    background: var(--accent-bg);
    color: var(--accent-txt);
  }
  .cg-slide-buttons,
  .cg-slide-alternative-button {
    background: var(--accent-bg);
    color: var(--accent-txt);
    border: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 0;
  }
  #cg-slide-footer {
    display: none;
  }
  #cg-right-block-menu {
    background: var(--backDrops);
  }
  .search-overlay .input-container {
    background: var(--accent-bg);
    color: var(--accent-txt);
    box-shadow: none;
  }
  #input-search-events {
    color: var(--accent-txt);
  }
  .cg-signup-logo {
    display: none;
  }
  .cg-slide-field-wrapper {
    border-radius: 0;
    border-color: var(--tableBorders);
  }
  .cg-slide-field-container:last-of-type {
    border-bottom-width: 0 !important;
  }
  .cg-slide-title span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
  #cg-slide-footer2 {
    [style*="font-size: 10px"] {
      font-size: 12px !important;
    }
  }
  #nav-live-sports {
    background: var(--bg1);
    color: var(--col1);
  }
  .nav-item .arrow,
  .nav-pills > li > a,
  .nav-go-back .arrow {
    color: inherit;
  }
  .cart-close-button {
    background: var(--bg1) !important;
    color: var(--col1) !important;
  }
  .nav-pills {
    background: var(--teableSubHeadersBg);
    color: var(--teableSubHeadersCol);
  }
  .border-bottom {
    background: var(--accent);
  }
  .effectiveCartContainer {
    width: 100%;
    margin-left: 0;
    border: 0;
  }
  .cart-sign-counters {
    background: var(--teableHeadersBg);
    color: var(--teableHeadersCol);
    display: flex;
    align-items: center;
    margin: 0;
    height: 35px;
  }
  .shopping-cart-bet-options-box {
    padding: 0;
  }
  .cg-landing-section-container {
    background: var(--teableHeadersBg);
    color: var(--teableHeadersCol);
  }
  .cg-live-circle {
    background: green;
  }
  .cg-odds-color,
  .cg-odd-live > .cg-top,
  .cg-odd.cg-selected > .cg-odd-right,
  .cg-odd-live.cg-selected > .cg-bottom,
  .cg-odd-antepost.cg-selected > .cg-bottom {
    color: inherit;
  }
  .cg-live-num-avvenimenti-sport {
    background: var(--accent-bg);
    color: var(--accent-txt);
  }
  .cg-live-sport.cg-acceso > .cg-live-sport-underline {
    background: var(--accent);
  }
  .cg-odd-live {
    border-color: var(--tableBorders);
  }
  .cg-odd.cg-selected,
  .cg-odd-live.cg-selected,
  .cg-odd-antepost.cg-selected {
    background: var(--accent-bg);
    color: var(--accent-txt);
    .cg-bottom {
      border-top-color: var(--accent-txt);
    }
  }
  .cg-live-period {
    font-size: 12px;
  }
  .cg-nav-buttons-container:last-of-type {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0;
  }
  .cg-menuTabMobile {
    background: var(--mainBg) !important;
    color: var(--mainBgCol) !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cg-buttons-row {
    box-shadow: none;
    width: 100%;
  }
  #leftContainer {
    background: var(--mainBg) !important;
    color: var(--mainBgCol);
  }
  .filterGameBar {
    background: var(--teableSubHeadersBg) !important;
    color: var(--teableSubHeadersCol);
  }
  .chooseTPLbutton {
    width: auto;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  .chooseTPLbutton DIV {
    width: 9px;
    height: 9px;
    /* float: left; */
    background: black;
    margin: 1px;
    display: inline-block;
    border-radius: 20px;
    border-bottom: 1px solid var(--accent);
    flex-shrink: 0;
  }
  .chooseTPLbutton.tplSelected > div {
    background: var(--accent-bg);
    color: var(--accent-txt);
  }
  .chooseTPLbuttonContainer {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    width: auto;
    flex-grow: 1;
    margin: 0;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
  }
  .contentMain {
    background: var(--mainBg) !important;
  }
  .gameitle span {
    background: var(--accent-bg) !important;
    color: var(--accent-txt) !important;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 12px;
  }
  .descCategoria,
  .filtri-button-reset {
    color: inherit;
  }
  .icona {
    filter: invert(0);
  }
  #filtri-categorie .filtro.selected {
    border: 1px solid var(--accent) !important;
  }
  .filtri-button-apply {
    background: var(--accent-bg);
    color: var(--accent-txt) !important;
  }
  .cg-inputContainer > input {
    border-color: #ccc;
    border-radius: 0;
  }
  .cg-loginButton {
    border: 0;
    border-radius: 0;
    background: var(--accent-bg);
    color: var(--accent-txt) !important;
  }
  .cg-registerButton {
    border: 1px solid var(--accent);
    border-radius: 0;
  }
  .cg-wrapper-login-section {
    background: var(--bg1);
    color: var(--col1);
  }
  .cg-searchIcoLite {
    width: 30px;
    background-position: center;
  }
}
