@import "vars";

:root {
  --nav-selection-color: var(--accent-bg);
  --popup-selection-color: var(--accent-bg);
  --arrow-color: var(--accent);
  --quota-color: var(--accent);
  --notification-circle-color: var(--accent-bg);
}

.topMenuElement {
  background: #e2e2e2;
}

nav#nav-live-sports {
  background: #e5e5e5;
  height: unset;
}

.nav-slider-item-container.sport-img-slider .nav-slider-item {
  color: #323232 !important;
  font-weight: 600;
}

.selected .nav-slider-item {
  color: #323232 !important;
}

nav.nav-buttons-container {
  background: #fff;
  color: #222;
  padding: 4px 0 !important;
  height: auto;
}

.nav-slider-container {
  background: #e5e5e5;
  color: #222;
  padding-right: 40px;
  box-shadow: unset;
  position: sticky;
  z-index: 99;
  top: 44px;
}

nav.nav-buttons-container {
  position: relative;
  z-index: 999;
}

span.arrow.arrow-right {
  color: var(--accent);
}

.menu-container {
  margin-bottom: 8px;
}

.list-element.sport-collapse {
  background: #323232;
  color: #fff;
  padding: 0 8px;
}

.nav-slider-button {
  box-shadow: -5px 0 4px rgba(0, 0, 0, 35%);
}

.betslip-bottom-bar {
  background: var(--accent-bg);
  color: var(--accent-txt);
  padding-left: 38px;
  justify-content: space-around !important;
}

a.info-avvenimento {
  background: #fff;
  color: #222;
  max-width: calc(100% - 8px);
  margin: 0 auto;
  border-radius: 4px 4px 0 0;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  margin-top: 8px;
}

#avvenimenti .esiti-container {
  background: #fff;
  color: #222;
  padding-bottom: 4px;
  max-width: calc(100% - 8px);
  margin: 0 auto;
  border-radius: 0;
  padding-left: 4px;
  padding-right: 4px;
}

.nome-avvenimento {
  text-align: left;
}

nav.nav-filters-wrapper {
  padding: 4px;
  height: auto;
}

.small-navbar-item.selected {
  border-color: var(--accent);
}

.label-desc-scom-vista-estesa {
  background: #fff;
  color: #222;
  width: 100%;
  max-width: calc(100% - 8px);
  margin: 0 auto;
  text-align: left;
  padding-left: 8px;
}

span.heading.text-medium {
  margin-top: 12px;
  padding-left: 12px;
  text-align: center !important;
  color: #3e3e3e !important;
  justify-content: center !important;
}

.main-content ul#oddslist {
  padding: 8px;
}

.cg-odd-live,
.esito,
.esiti-container .esito {
  border-radius: 6px !important;
}

div#main-wrapper > #main-container > .avvenimento .info-avvenimento-live,
.esiti-container {
  background: #fff;
  color: #323232;
}

.info-score {
  background: #999 !important;
}

#cg-pagina-sport span.heading.text-medium {
  text-align: left;
}

.bg-colore-1 {
  background: var(--accent-bg) !important;
  color: var(--accent-txt);
}

.colore-1,
.custom-switch-2 input:checked ~ .custom-switch-2-text {
  color: var(--accent) !important;
}

a.tasto-nav-quote-landing.active {
  border-color: var(--accent) !important;
}

.widget-schedina-giocate {
  background: #e8e9eb;
  color: #222;
}

.custom-switch-2 input:checked ~ .custom-slider-2 {
  background-color: var(--accent-bg);
  color: var(--accent-txt);
}

.bg-grigio-chiaro {
  background: #ddd;
  color: #222;
}

button.bottone.bg-arancio.bianco.maiuscolo {
  background: #fc0 !important;
  color: #323232 !important;
}

.carrello-fixed {
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 30%);
}

.main-content ul#oddslist .list-element {
  background: #fff !important;
  color: #222;
}

body#cg-pagina-sport {
  background: #e8e9eb;
  color: #222;
}

nav#nav-temporal-filter {
  background: var(--teableHeadersBg);
  position: sticky;
  top: calc(44px + 51px);
  z-index: 99;
  color: var(--teableHeadersCol);
}

.xs-loader:after {
  border: 6px solid var(--accent);
  border-color: var(--accent) transparent var(--accent) transparent !important;
}

.info-avvenimento-live {
  padding-bottom: 0 !important;
  padding-top: 2px !important;
}

.esiti-container {
  padding-top: 2px;
}

.nav-filter-item.selected {
  background: var(--accent-bg);
  color: var(--accent-txt);
}

.nav-filters {
  height: auto !important;
}

.nav-filters .nav-filter-item.categoryLiveContainer.selected {
  background: var(--accent-bg);
  color: var(--accent-txt);
  border-radius: 4px;
}

.iconCategoryLive {
  margin: 0 5px;
}

body#cg-pagina-live {
  background: #e8e9eb;
}

.label-desc-scom-vista-estesa {
  color: #3e3e3e;
  text-align: right;
  padding-right: 8px;
  font-style: italic;
  font-family: "Metropolis-Bold";
  font-size: 8px !important;
}

.info-match.push-right span {
  font-family: "Metropolis-Bold";
}

nav#nav-go-back {
  background: #fff !important;
  color: #222;
  min-height: unset;
  padding-top: 8px;
  padding-bottom: 8px;
}

.nav-section-title.expandable::after,
.nav-breadcrumb:after {
  color: var(--accent) !important;
}

div#main-container > span.list-heading {
  width: 100%;
  /*background: #fff !important;*/
  display: inline-block;
  height: unset !important;
  margin-bottom: -8px !important;
  font-weight: 600;
}

nav#nav-vista-estesa {
  background: #3e3e3e;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
}

.topMenuElement.search-button {
  background: var(--accent-bg);
  color: var(--accent-txt);
  height: 30px;
  min-width: 40px;
}

.nav-slider-button {
  background: #3e3e3e;
  height: 47px;
  top: 2px;
  width: 100%;
  max-width: 40px;
  box-shadow: -4px 0 9px rgba(0, 0, 0, 20%);
  border: 0;
}

.nav-slider-button i {
  font-size: 20px;
  color: #fff;
  margin-bottom: 2px;
}

.nav-slider-item-container.sport-img-slider {
  padding-top: 2px;
}

.nav-slider-item-container.topMenuElement {
  height: unset !important;
}

.nav-filter-item {
  padding-top: 8px;
  padding-bottom: 8px;
}

.expanded .nav-filter-item {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 4px 4px;
  min-height: unset;
  height: unset;
  background: #fff;
}

.expanded .nav-filter-item.selected {
  background: var(--accent-bg) !important;
  color: var(--accent-txt);
}

.nav-filters-close-button {
  right: 3px !important;
}

.nav-filters-close-button i.fa-times-circle {
  color: var(--accent) !important;
  font-size: 15px;
  line-height: 1;
}

.nav-filters.expanded {
  background: #e5e5e5;
  box-shadow: 0px 5px 2px rgba(0, 0, 0, 25%);
}

span.ora-avvenimento.text-small.push-right {
  font-family: "Metropolis-Bold";
}

span.ora-avvenimento.text-small {
  font-family: "Metropolis-Bold";
}

nav#nav-go-back {
  border-bottom: 1px solid #33333314;
}

span.refresh-ico {
  filter: brightness(1) invert(1);
}

.nome-avvenimento span {
  font-size: 13px;
  line-height: 1.25;
}

.iconCategoryLive {
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  border: none !important;
}

.betslip-bottom-bar .details {
  min-width: unset;
}

.no-scroll,
#panel,
.custom-calc-pad-placeholder {
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.nav-slider-button i.fa-calendar-alt:before {
  content: "";
  height: 20px;
  width: 20px;
  background: url(https://skingraphics.it/altri-siti/betclic_new/immagini/calendario.svg)
    center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.nav-slider-item-container.topMenuElement .sport-img-container .sport-img {
  background-size: contain !important;
  width: 20px;
  height: 20px;
}

.sport-img-container {
  align-items: center;
  margin-right: 4px;
}

.betslip-bottom-bar .ticket {
  background: #3e3e3e;
}

.betslip-bottom-bar .triangle {
  border-color: transparent transparent transparent #3e3e3e;
}

span.details.push-right {
  margin: 0;
}

span.details.push-left {
  margin: 0;
}

.betslip-bottom-bar .ticket {
  background: #3e3e3e;
}

.betslip-bottom-bar .triangle {
  border-color: transparent transparent transparent #3e3e3e;
}

span.details.push-right {
  margin: 0;
}

span.details.push-left {
  margin: 0;
}

.container-carrello-mobile
  .container-carrello-mobile_intestazione
  .container-carrello-mobile_intestazione_inner-container_numero-ticket
  .counter_circle {
  background-color: var(--accent-bg);
  color: var(--accent-txt);
}

.container-carrello-mobile
  .container-carrello-mobile_intestazione
  .button_custom_notification {
  background-color: var(--accent-bg);
  color: var(--accent-txt);
}

.custom-radio-1 input:checked ~ .custom-radio-1_checkmark {
  background-color: var(--accent-bg) !important;
  color: var(--accent-txt);
}

.container-carrello-mobile
  .container-carrello-mobile_intestazione
  button.selected
  i {
  color: var(--accent) !important;
}

div#custom-calc-pad-keys {
  background: #333;
}

.container-carrello-mobile .container-carrello-mobile_intestazione {
  background: #333;
  padding: 8px;
  line-height: 1.5;
}

div#custom-calc-numpad-payments {
  height: 100%;
  padding: 15px;
}

#custom-calc-pad-ok button span {
  background-color: #fc0 !important;
  color: #000 !important;
}

div#custom-calc-pad-close span {
  background: var(--accent-bg);
  color: var(--accent-txt);
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: var(--accent);
  background: var(--accent-bg);
  color: var(--accent-txt);
}

div#custom-calc-pad-keys {
  background: #333;
  z-index: 99999999999999999999 !important;
}

.sticky {
  top: 44px;
}

/* da rimuovere se non fixano con body, ma salterebbe poi tutto il carrello */

/*
div#cg_exa-mobileSportAppContainer {
    padding: 0 !important;
}*/
#cg-search-event-button {
  display: none;
}

/* FIX COLORE NERO MENU NAVIGAZIONE */
/* FIX COLORE NERO MENU NAVIGAZIONE */
/* FIX COLORE NERO MENU NAVIGAZIONE */
#xs-mobile #xsport-container .nav-go-back .arrow-container .arrow,
#xs-mobile
  #xsport-container
  .nav-go-back
  .title-container
  .nav-section-title
  .nav-breadcrumb,
#xs-mobile #xsport-container .nav-go-back .fa.fa-star:not(.giallo),
#xs-mobile #xsport-container .nav-go-back .title-container {
  color: #111 !important;
}

/* FINE FIX COLORE NERO MENU NAVIGAZIONE */
/* FINE FIX COLORE NERO MENU NAVIGAZIONE */
/* FINE FIX COLORE NERO MENU NAVIGAZIONE */

/* FIX STELLA PREFERITI NEL MENU DI NAVIGAZIONE IN ALTO */
/* FIX STELLA PREFERITI NEL MENU DI NAVIGAZIONE IN ALTO */
/* FIX STELLA PREFERITI NEL MENU DI NAVIGAZIONE IN ALTO */

#xsport-container
  .nav-slider-container
  #nav-live-sports
  .nav-slider-item-container
  .sport-img-container
  .fa.fa-star {
  color: #ffcc00 !important;
  font-size: 25px;
}

/* FINE FIX STELLA PREFERITI NEL MENU DI NAVIGAZIONE IN ALTO */
/* FINE FIX STELLA PREFERITI NEL MENU DI NAVIGAZIONE IN ALTO */
/* FINE FIX STELLA PREFERITI NEL MENU DI NAVIGAZIONE IN ALTO */

#xsport-container
  #main-wrapper
  #main-container
  .xs-loader-container
  .fa.fa-info-circle.xs-error-icon {
  color: var(--accent) !important;
  margin-top: 2rem !important;
  margin-bottom: 1rem;
}

#xsport-container
  #main-wrapper
  #main-container
  .xs-loader-container
  .fa.fa-info-circle.xs-error-icon
  + .xs-error-message {
  color: var(--accent) !important;
  font-weight: bold !important;
  font-size: 2rem !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: var(--accent);
  background-color: var(--accent-bg);
  color: var(--accent-txt);
}

.live-tv-icon {
  filter: none;
}
.nav-breadcrumb {
  color: #222;
}

.mostra-sidebar-dx.pointer.bg-nero.bianco.bordo-tondo.margine-giu.d-none {
}

.sr-lmt-plus-penaltycards__cards {
}

/* WIDGET BETRADAR INIZIA DA QUA */
/* WIDGET BETRADAR INIZIA DA QUA */
/* WIDGET BETRADAR INIZIA DA QUA */
/* WIDGET BETRADAR INIZIA DA QUA */

.sr-bb,
.sr-bb .sr-bb {
  background: 0 0;
}

.sr-bb {
  font-family: metropolis, sans-serif;
}

.sr-bb .srt-base-1 {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.82);
  border-color: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-base-1-is-active,
.sr-bb .srt-base-1-is-hoverable:hover {
  background-color: #fbe0e3;
  color: rgba(0, 0, 0, 0.82);
  border-color: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-base-1-is-active-2 {
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.82);
  border-color: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-base-1-home-1,
.sr-bb .srt-base-1-primary {
  background-color: #fff;
  color: var(--accent);
  border-color: var(--accent);
}

.sr-bb .srt-base-1-away-1 {
  background-color: #fff;
  color: #ec5966;
  border-color: #ec5966;
}

.sr-bb .srt-base-1-home-2 {
  background-color: #fff;
  color: var(--accent);
  border-color: #83000c;
}

.sr-bb .srt-base-1-away-2 {
  background-color: #fff;
  color: #ec5966;
  border-color: #83000c;
}

.sr-bb .srt-base-1-home-3 {
  background-color: #fff;
  color: var(--accent);
  border-color: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-base-1-away-3 {
  background-color: #fff;
  color: #ec5966;
  border-color: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-base-1-home-4 {
  background-color: #fff;
  color: #ea4d5b;
  border-color: #ea4d5b;
}

.sr-bb .srt-base-1-away-4 {
  background-color: #fff;
  color: #f28b94;
  border-color: #f28b94;
}

.sr-bb .srt-base-1-home-5 {
  background-color: #fff;
  color: #92000d;
  border-color: #92000d;
}

.sr-bb .srt-base-1-away-5 {
  background-color: #fff;
  color: #993a42;
  border-color: #993a42;
}

.sr-bb .srt-base-1-background,
.sr-bb .srt-base-2 {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.82);
  border-color: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-base-2-is-active,
.sr-bb .srt-base-2-is-hoverable:hover,
.sr-bb .srt-base-3 {
  background-color: #fbe0e3;
  color: rgba(0, 0, 0, 0.82);
  border-color: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-base-3-is-active,
.sr-bb .srt-base-3-is-hoverable:hover {
  background-color: #fad6d9;
  color: rgba(0, 0, 0, 0.82);
  border-color: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-base-3-background {
  background-color: #fbe0e3;
  color: rgba(0, 0, 0, 0.82);
  border-color: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-base-4 {
  background-color: #fef2f3;
  color: rgba(0, 0, 0, 0.82);
  border-color: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-base-5-is-active,
.sr-bb .srt-base-5-is-hoverable:hover {
  background-color: #f7bdc2;
  color: rgba(0, 0, 0, 0.82);
  border-color: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-primary-1,
.sr-bb .srt-primary-1-is-active,
.sr-bb .srt-primary-1-is-disabled,
.sr-bb .srt-primary-1-is-hoverable:hover,
.sr-bb .srt-primary-2,
.sr-bb .srt-primary-3,
.sr-bb .srt-primary-4,
.sr-bb .srt-primary-5,
.sr-bb .srt-primary-8-is-active-1 {
  border-color: rgba(255, 255, 255, 0.16);
  color: #fff;
}

.sr-bb .srt-primary-1 {
  background-color: var(--accent);
}

.sr-bb .srt-primary-1-is-active,
.sr-bb .srt-primary-1-is-hoverable:hover {
  background-color: #b40010;
}

.sr-bb .srt-primary-1-is-disabled {
  background-color: #e30f22;
}

.sr-bb .srt-primary-2 {
  background-color: var(--accent);
}

.sr-bb .srt-primary-3,
.sr-bb .srt-primary-4 {
  background-color: #9e000e;
}

.sr-bb .srt-primary-5 {
  background-color: #ec5966;
}

.sr-bb .srt-primary-5-is-hoverable:hover,
.sr-bb .srt-primary-6,
.sr-bb .srt-primary-7,
.sr-bb .srt-primary-8 {
  background-color: var(--accent);
  color: #fff;
  border-color: rgba(255, 255, 255, 0.16);
}

.sr-bb .srt-primary-8-is-active-1 {
  background-color: #b40010;
}

.sr-bb .srt-primary-8-is-active-2 {
  background-color: #b40010;
  color: #fff;
  border-color: #fff;
}

.sr-bb .srt-primary-9 {
  background-color: #f6b3b9;
  color: rgba(0, 0, 0, 0.82);
  border-color: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-primary-10,
.sr-bb .srt-primary-11 {
  border-color: rgba(255, 255, 255, 0.16);
  color: #fff;
}

.sr-bb .srt-primary-10 {
  background-color: #e73343;
}

.sr-bb .srt-primary-11 {
  background-color: #ec5966;
}

.sr-bb .srt-primary-12 {
  background-color: var(--accent);
  color: #fff;
  border-color: #fff;
}

.sr-bb .srt-base-1-primary-1,
.sr-bb .srt-base-1-primary-2 {
  background-color: #fff;
  color: var(--accent);
  border-color: var(--accent);
}

.sr-bb .srt-base-1-primary-3,
.sr-bb .srt-base-1-primary-4 {
  background-color: #fff;
  color: #9e000e;
  border-color: #9e000e;
}

.sr-bb .srt-base-1-primary-5 {
  background-color: #fff;
  color: #ec5966;
  border-color: #ec5966;
}

.sr-bb .srt-base-1-primary-6,
.sr-bb .srt-base-1-primary-7,
.sr-bb .srt-base-1-primary-8 {
  background-color: #fff;
  color: var(--accent);
  border-color: var(--accent);
}

.sr-bb .srt-base-1-primary-9 {
  background-color: #fff;
  color: #f6b3b9;
  border-color: #f6b3b9;
}

.sr-bb .srt-base-1-primary-10 {
  background-color: #fff;
  color: #e73343;
  border-color: #e73343;
}

.sr-bb .srt-base-1-primary-11 {
  background-color: #fff;
  color: #ec5966;
  border-color: #ec5966;
}

.sr-bb .srt-base-1-neutral-1 {
  background-color: #fff;
  color: #ccc;
  border-color: #ccc;
}

.sr-bb .srt-base-1-neutral-2 {
  background-color: #fff;
  color: #1b1b1b;
  border-color: #1b1b1b;
}

.sr-bb .srt-base-1-neutral-3 {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.12);
  border-color: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-base-1-neutral-4 {
  background-color: #fff;
  color: #595959;
  border-color: #595959;
}

.sr-bb .srt-base-1-neutral-5 {
  background-color: #fff;
  color: #404040;
  border-color: #404040;
}

.sr-bb .srt-base-1-neutral-6 {
  background-color: #fff;
  color: #c2c2c2;
  border-color: #c2c2c2;
}

.sr-bb .srt-base-1-neutral-7 {
  background-color: #fff;
  color: #595959;
  border-color: #595959;
}

.sr-bb .srt-base-1-neutral-8 {
  background-color: #fff;
  color: #dedede;
  border-color: #dedede;
}

.sr-bb .srt-base-1-neutral-9 {
  background-color: #fff;
  color: #f5f5f5;
  border-color: #f5f5f5;
}

.sr-bb .srt-base-1-neutral-10 {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.12);
  border-color: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-base-1-neutral-11 {
  background-color: #fff;
  color: #999;
  border-color: #999;
}

.sr-bb .srt-base-1-neutral-12 {
  background-color: #fff;
  color: #4d4d4d;
  border-color: #4d4d4d;
}

.sr-bb .srt-base-1-neutral-13 {
  background-color: #fff;
  color: #e6e6e6;
  border-color: #e6e6e6;
}

.sr-bb .srt-base-1-is-active-home-1,
.sr-bb .srt-base-1-is-active-primary {
  background-color: #fbe0e3;
  color: var(--accent);
  border-color: var(--accent);
}

.sr-bb .srt-base-1-is-active-away-1 {
  background-color: #fbe0e3;
  color: #ec5966;
  border-color: #ec5966;
}

.sr-bb .srt-base-1-is-active-home-2 {
  background-color: #fbe0e3;
  color: var(--accent);
  border-color: #83000c;
}

.sr-bb .srt-base-1-is-active-away-2 {
  background-color: #fbe0e3;
  color: #ec5966;
  border-color: #83000c;
}

.sr-bb .srt-base-1-is-active-home-3 {
  background-color: #fbe0e3;
  color: var(--accent);
  border-color: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-base-1-is-active-away-3 {
  background-color: #fbe0e3;
  color: #ec5966;
  border-color: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-base-1-is-active-home-4 {
  background-color: #fbe0e3;
  color: #ea4d5b;
  border-color: #ea4d5b;
}

.sr-bb .srt-base-1-is-active-away-4 {
  background-color: #fbe0e3;
  color: #f28b94;
  border-color: #f28b94;
}

.sr-bb .srt-base-1-is-active-home-5 {
  background-color: #fbe0e3;
  color: #92000d;
  border-color: #92000d;
}

.sr-bb .srt-base-1-is-active-away-5 {
  background-color: #fbe0e3;
  color: #993a42;
  border-color: #993a42;
}

.sr-bb .srt-base-1-is-active-primary-1,
.sr-bb .srt-base-1-is-active-primary-2 {
  background-color: #fbe0e3;
  color: var(--accent);
  border-color: var(--accent);
}

.sr-bb .srt-base-1-is-active-primary-3,
.sr-bb .srt-base-1-is-active-primary-4 {
  background-color: #fbe0e3;
  color: #9e000e;
  border-color: #9e000e;
}

.sr-bb .srt-base-1-is-active-primary-5 {
  background-color: #fbe0e3;
  color: #ec5966;
  border-color: #ec5966;
}

.sr-bb .srt-base-1-is-active-primary-6,
.sr-bb .srt-base-1-is-active-primary-7,
.sr-bb .srt-base-1-is-active-primary-8 {
  background-color: #fbe0e3;
  color: var(--accent);
  border-color: var(--accent);
}

.sr-bb .srt-base-1-is-active-primary-9 {
  background-color: #fbe0e3;
  color: #f6b3b9;
  border-color: #f6b3b9;
}

.sr-bb .srt-base-1-is-active-primary-10 {
  background-color: #fbe0e3;
  color: #e73343;
  border-color: #e73343;
}

.sr-bb .srt-base-1-is-active-primary-11 {
  background-color: #fbe0e3;
  color: #ec5966;
  border-color: #ec5966;
}

.sr-bb .srt-base-1-is-active-neutral-1 {
  background-color: #fbe0e3;
  color: #ccc;
  border-color: #ccc;
}

.sr-bb .srt-base-1-is-active-neutral-2 {
  background-color: #fbe0e3;
  color: #1b1b1b;
  border-color: #1b1b1b;
}

.sr-bb .srt-base-1-is-active-neutral-3 {
  background-color: #fbe0e3;
  color: rgba(0, 0, 0, 0.12);
  border-color: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-base-1-is-active-neutral-4 {
  background-color: #fbe0e3;
  color: #595959;
  border-color: #595959;
}

.sr-bb .srt-base-1-is-active-neutral-5 {
  background-color: #fbe0e3;
  color: #404040;
  border-color: #404040;
}

.sr-bb .srt-base-1-is-active-neutral-6 {
  background-color: #fbe0e3;
  color: #c2c2c2;
  border-color: #c2c2c2;
}

.sr-bb .srt-base-1-is-active-neutral-7 {
  background-color: #fbe0e3;
  color: #595959;
  border-color: #595959;
}

.sr-bb .srt-base-1-is-active-neutral-8 {
  background-color: #fbe0e3;
  color: #dedede;
  border-color: #dedede;
}

.sr-bb .srt-base-1-is-active-neutral-9 {
  background-color: #fbe0e3;
  color: #f5f5f5;
  border-color: #f5f5f5;
}

.sr-bb .srt-base-1-is-active-neutral-10 {
  background-color: #fbe0e3;
  color: rgba(0, 0, 0, 0.12);
  border-color: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-base-1-is-active-neutral-11 {
  background-color: #fbe0e3;
  color: #999;
  border-color: #999;
}

.sr-bb .srt-base-1-is-active-neutral-12 {
  background-color: #fbe0e3;
  color: #4d4d4d;
  border-color: #4d4d4d;
}

.sr-bb .srt-base-1-is-active-neutral-13 {
  background-color: #fbe0e3;
  color: #e6e6e6;
  border-color: #e6e6e6;
}

.sr-bb .srt-home-1 {
  background-color: var(--accent);
  color: #fff;
  border-color: var(--accent);
}

.sr-bb .srt-away-1 {
  background-color: #ec5966;
  color: #fff;
  border-color: #ec5966;
}

.sr-bb .srt-home-2 {
  background-color: var(--accent);
  color: #fff;
  border-color: #83000c;
}

.sr-bb .srt-away-2 {
  background-color: #ec5966;
  color: #fff;
  border-color: #83000c;
}

.sr-bb .srt-home-3 {
  background-color: var(--accent);
  color: #fff;
  border-color: #fff;
}

.sr-bb .srt-away-3 {
  background-color: #ec5966;
  color: #fff;
  border-color: #fff;
}

.sr-bb .srt-home-4 {
  background-color: #ea4d5b;
  color: #fff;
  border-color: #ea4d5b;
}

.sr-bb .srt-away-4 {
  background-color: #f28b94;
  color: #fff;
  border-color: #f28b94;
}

.sr-bb .srt-home-5 {
  background-color: #92000d;
  color: #fff;
  border-color: #92000d;
}

.sr-bb .srt-away-5 {
  background-color: #993a42;
  color: #fff;
  border-color: #993a42;
}

.sr-bb .srt-neutral-1 {
  background-color: #ccc;
  color: rgba(0, 0, 0, 0.82);
  border-color: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-neutral-2 {
  background-color: #1b1b1b;
  color: #fff;
  border-color: rgba(255, 255, 255, 0.16);
}

.sr-bb .srt-neutral-3 {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.82);
  border-color: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-neutral-4,
.sr-bb .srt-neutral-5,
.sr-bb .srt-neutral-6,
.sr-bb .srt-neutral-7 {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.16);
}

.sr-bb .srt-neutral-4 {
  background-color: #595959;
}

.sr-bb .srt-neutral-5 {
  background-color: #404040;
}

.sr-bb .srt-neutral-6 {
  background-color: #c2c2c2;
}

.sr-bb .srt-neutral-7 {
  background-color: #595959;
}

.sr-bb .srt-neutral-10,
.sr-bb .srt-neutral-8,
.sr-bb .srt-neutral-9 {
  color: rgba(0, 0, 0, 0.82);
  border-color: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-neutral-8 {
  background-color: #dedede;
}

.sr-bb .srt-neutral-9 {
  background-color: #f5f5f5;
}

.sr-bb .srt-neutral-10 {
  background-color: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-neutral-11 {
  background-color: #999;
  color: #fff;
  border-color: rgba(255, 255, 255, 0.16);
}

.sr-bb .srt-neutral-12 {
  background-color: #4d4d4d;
  color: #fff;
  border-color: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-neutral-13 {
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.82);
  border-color: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-draw,
.sr-bb .srt-lose,
.sr-bb .srt-nfl-timeout-1,
.sr-bb .srt-nfl-timeout-2,
.sr-bb .srt-win {
  border-color: rgba(255, 255, 255, 0.16);
  color: #fff;
}

.sr-bb .srt-win {
  background-color: #5fc626;
}

.sr-bb .srt-draw {
  background-color: #999;
}

.sr-bb .srt-lose {
  background-color: #ff3c3c;
}

.sr-bb .srt-text-secondary {
  opacity: 0.7;
}

.sr-bb .srt-text-disabled {
  opacity: 0.35;
}

.sr-bb .srt-text-tertiary {
  opacity: 0.54;
}

.sr-bb .srt-icon {
  opacity: 0.33;
}

.sr-bb .srt-elevation-1 {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.sr-bb .srt-elevation-2 {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23), 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-elevation-3 {
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.26), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.sr-bb .srt-elevation-center-2 {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.23), 0 1px 5px rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-inset-top-1 {
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.23);
}

.sr-bb .srt-inset-bottom-1 {
  box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.23);
}

.sr-bb .srt-inset-top-2 {
  box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.23);
}

.sr-bb .srt-inset-bottom-2 {
  box-shadow: inset 0 -3px 6px 0 rgba(0, 0, 0, 0.23);
}

.sr-bb .srt-inset-top-3 {
  box-shadow: inset 0 6px 6px 0 rgba(0, 0, 0, 0.23);
}

.sr-bb .srt-inset-bottom-3 {
  box-shadow: inset 0 -6px 6px 0 rgba(0, 0, 0, 0.23);
}

.sr-bb .srt-fill-soccer-yellow-card {
  fill: #ffbf00;
}

.sr-bb .srt-stroke-soccer-yellow-card {
  stroke: #ffbf00;
}

.sr-bb .srt-fill-soccer-red-card {
  fill: #e43b3b;
}

.sr-bb .srt-stroke-soccer-red-card {
  stroke: #e43b3b;
}

.sr-bb .srt-stroke-soccer-substitution-in {
  stroke: #4fbe30;
  fill: transparent;
}

.sr-bb .srt-fill-soccer-substitution-in {
  fill: #4fbe30;
}

.sr-bb .srt-stroke-soccer-substitution-out {
  stroke: #e43b3b;
  fill: transparent;
}

.sr-bb .srt-fill-soccer-substitution-out {
  fill: #e43b3b;
}

.sr-bb .srt-stroke-soccer-own-goal {
  stroke: #e43b3b;
  fill: transparent;
}

.sr-bb .srt-fill-soccer-own-goal {
  fill: #e43b3b;
}

.sr-bb .srt-fill-soccer-relegation-1 {
  fill: #fdd835;
}

.sr-bb .srt-stroke-soccer-relegation-1 {
  stroke: #fdd835;
}

.sr-bb .srt-fill-soccer-relegation-2 {
  fill: #ffb848;
}

.sr-bb .srt-stroke-soccer-relegation-2 {
  stroke: #ffb848;
}

.sr-bb .srt-fill-soccer-relegation-3 {
  fill: #ef6c00;
}

.sr-bb .srt-stroke-soccer-relegation-3 {
  stroke: #ef6c00;
}

.sr-bb .srt-fill-soccer-relegation-4 {
  fill: #e93a34;
}

.sr-bb .srt-stroke-soccer-relegation-4 {
  stroke: #e93a34;
  stroke: #941d1d;
}

.sr-bb .srt-fill-soccer-relegation-5 {
  fill: #941d1d;
}

.sr-bb .srt-fill-soccer-promotion-1 {
  fill: #005100;
}

.sr-bb .srt-stroke-soccer-promotion-1 {
  stroke: #005100;
}

.sr-bb .srt-fill-soccer-promotion-2 {
  fill: #1b911b;
}

.sr-bb .srt-stroke-soccer-promotion-2 {
  stroke: #1b911b;
}

.sr-bb .srt-fill-soccer-promotion-3 {
  fill: #51d151;
}

.sr-bb .srt-stroke-soccer-promotion-3 {
  stroke: #51d151;
}

.sr-bb .srt-fill-soccer-promotion-4 {
  fill: #1976d2;
}

.sr-bb .srt-stroke-soccer-promotion-4 {
  stroke: #1976d2;
}

.sr-bb .srt-fill-soccer-promotion-5 {
  fill: #64b5f6;
}

.sr-bb .srt-stroke-soccer-promotion-5 {
  stroke: #64b5f6;
}

.sr-bb .srt-nfl-timeout-1 {
  background-color: #f5a623;
}

.sr-bb .srt-nfl-timeout-2 {
  background-color: rgba(245, 166, 35, 0.3);
}

.sr-bb .srt-nfl-penalty {
  background-color: #f4a621;
  color: #fff;
  border-color: #f4a621;
}

.sr-bb .srt-nfl-negative-yards-1,
.sr-bb .srt-nfl-negative-yards-2 {
  background-color: #ac182e;
  color: #fff;
  border-color: #ac182e;
}

.sr-bb .srt-nfl-first-line {
  background-color: #4b90de;
  color: #fff;
  border-color: #4b90de;
}

.sr-bb .srt-nfl-ten-line {
  background-color: #f5a623;
  color: #fff;
  border-color: #f5a623;
}

.sr-bb .srt-fill-nfl-penalty {
  fill: #f4a621;
}

.sr-bb .srt-fill-nfl-negative-yards-1,
.sr-bb .srt-fill-nfl-negative-yards-2 {
  fill: #ac182e;
}

.sr-bb .srt-stroke-nfl-penalty {
  stroke: #f4a621;
}

.sr-bb .srt-stroke-nfl-negative-yards-1,
.sr-bb .srt-stroke-nfl-negative-yards-2 {
  stroke: #ac182e;
}

.sr-bb .srt-fill-nfl-first-line {
  fill: #4b90de;
}

.sr-bb .srt-stroke-nfl-first-line {
  stroke: #4b90de;
}

.sr-bb .srt-fill-nfl-ten-line {
  fill: #f5a623;
}

.sr-bb .srt-stroke-nfl-ten-line {
  stroke: #f5a623;
}

.sr-bb .srt-fill-change-increase {
  fill: #4fbe30;
}

.sr-bb .srt-stroke-change-increase {
  stroke: #4fbe30;
}

.sr-bb .srt-fill-change-decrease {
  fill: #e43b3b;
}

.sr-bb .srt-stroke-change-decrease {
  stroke: #e43b3b;
}

.sr-bb .srt-fill-text {
  fill: rgba(0, 0, 0, 0.82);
}

.sr-bb .srt-fill-text-invert {
  fill: #fff;
}

.sr-bb .srt-fill-text-secondary {
  fill-opacity: 0.7;
}

.sr-bb .srt-fill-text-disabled {
  fill-opacity: 0.35;
}

.sr-bb .srt-fill-base-1 {
  fill: #fff;
}

.sr-bb .srt-stroke-base-1 {
  stroke: #fff;
}

.sr-bb .srt-fill-base-1-active {
  fill: #fbe0e3;
}

.sr-bb .srt-stroke-base-1-active {
  stroke: #fbe0e3;
}

.sr-bb .srt-fill-base-1-active-2 {
  fill: #e6e6e6;
}

.sr-bb .srt-fill-base-1-away,
.sr-bb .srt-fill-base-1-home,
.sr-bb .srt-fill-base-1-primary,
.sr-bb .srt-fill-base-2 {
  fill: #fff;
}

.sr-bb .srt-stroke-base-1-active-2 {
  stroke: #e6e6e6;
}

.sr-bb .srt-stroke-base-1-away,
.sr-bb .srt-stroke-base-1-home,
.sr-bb .srt-stroke-base-1-primary,
.sr-bb .srt-stroke-base-2 {
  stroke: #fff;
}

.sr-bb .srt-fill-base-2-active,
.sr-bb .srt-fill-base-2-hover,
.sr-bb .srt-fill-base-3 {
  fill: #fbe0e3;
}

.sr-bb .srt-stroke-base-2-active,
.sr-bb .srt-stroke-base-2-hover,
.sr-bb .srt-stroke-base-3 {
  stroke: #fbe0e3;
}

.sr-bb .srt-fill-base-3-active,
.sr-bb .srt-fill-base-3-hover {
  fill: #fad6d9;
}

.sr-bb .srt-stroke-base-3-active,
.sr-bb .srt-stroke-base-3-hover {
  stroke: #fad6d9;
}

.sr-bb .srt-fill-primary-1,
.sr-bb .srt-fill-primary-2 {
  fill: var(--accent);
}

.sr-bb .srt-stroke-primary-1,
.sr-bb .srt-stroke-primary-2 {
  stroke: var(--accent);
}

.sr-bb .srt-fill-primary-3,
.sr-bb .srt-fill-primary-4 {
  fill: #9e000e;
}

.sr-bb .srt-stroke-primary-3,
.sr-bb .srt-stroke-primary-4 {
  stroke: #9e000e;
}

.sr-bb .srt-fill-primary-5 {
  fill: #ec5966;
}

.sr-bb .srt-fill-primary-6,
.sr-bb .srt-fill-primary-7,
.sr-bb .srt-fill-primary-8 {
  fill: var(--accent);
}

.sr-bb .srt-stroke-primary-5 {
  stroke: #ec5966;
}

.sr-bb .srt-stroke-primary-6,
.sr-bb .srt-stroke-primary-7,
.sr-bb .srt-stroke-primary-8 {
  stroke: var(--accent);
}

.sr-bb .srt-fill-primary-8-is-active-1,
.sr-bb .srt-fill-primary-8-is-active-2 {
  fill: #b40010;
}

.sr-bb .srt-stroke-primary-8-is-active-1,
.sr-bb .srt-stroke-primary-8-is-active-2 {
  stroke: #b40010;
}

.sr-bb .srt-fill-primary-9 {
  fill: #f6b3b9;
}

.sr-bb .srt-stroke-primary-9 {
  stroke: #f6b3b9;
}

.sr-bb .srt-fill-primary-10 {
  fill: #e73343;
}

.sr-bb .srt-stroke-primary-10 {
  stroke: #e73343;
}

.sr-bb .srt-fill-primary-11 {
  fill: #ec5966;
}

.sr-bb .srt-fill-home-1,
.sr-bb .srt-fill-home-2,
.sr-bb .srt-fill-home-3,
.sr-bb .srt-fill-primary-12 {
  fill: var(--accent);
}

.sr-bb .srt-stroke-primary-11 {
  stroke: #ec5966;
}

.sr-bb .srt-stroke-home-1,
.sr-bb .srt-stroke-home-2,
.sr-bb .srt-stroke-home-3,
.sr-bb .srt-stroke-primary-12 {
  stroke: var(--accent);
}

.sr-bb .srt-fill-home-4 {
  fill: #ea4d5b;
}

.sr-bb .srt-stroke-home-4 {
  stroke: #ea4d5b;
}

.sr-bb .srt-fill-home-5 {
  fill: #92000d;
}

.sr-bb .srt-fill-away-1,
.sr-bb .srt-fill-away-2,
.sr-bb .srt-fill-away-3 {
  fill: #ec5966;
}

.sr-bb .srt-stroke-home-5 {
  stroke: #92000d;
}

.sr-bb .srt-stroke-away-1,
.sr-bb .srt-stroke-away-2,
.sr-bb .srt-stroke-away-3 {
  stroke: #ec5966;
}

.sr-bb .srt-fill-away-4 {
  fill: #f28b94;
}

.sr-bb .srt-stroke-away-4 {
  stroke: #f28b94;
}

.sr-bb .srt-fill-away-5 {
  fill: #993a42;
}

.sr-bb .srt-stroke-away-5 {
  stroke: #993a42;
}

.sr-bb .srt-fill-neutral-1 {
  fill: #ccc;
}

.sr-bb .srt-stroke-neutral-1 {
  stroke: #ccc;
}

.sr-bb .srt-fill-neutral-2 {
  fill: #1b1b1b;
}

.sr-bb .srt-stroke-neutral-2 {
  stroke: #1b1b1b;
}

.sr-bb .srt-fill-neutral-3 {
  fill: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-stroke-neutral-3 {
  stroke: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-fill-neutral-4 {
  fill: #595959;
}

.sr-bb .srt-stroke-neutral-4 {
  stroke: #595959;
}

.sr-bb .srt-fill-neutral-5 {
  fill: #404040;
}

.sr-bb .srt-stroke-neutral-5 {
  stroke: #404040;
}

.sr-bb .srt-fill-neutral-6 {
  fill: #c2c2c2;
}

.sr-bb .srt-stroke-neutral-6 {
  stroke: #c2c2c2;
}

.sr-bb .srt-fill-neutral-7 {
  fill: #595959;
}

.sr-bb .srt-stroke-neutral-7 {
  stroke: #595959;
}

.sr-bb .srt-fill-neutral-8 {
  fill: #dedede;
}

.sr-bb .srt-stroke-neutral-8 {
  stroke: #dedede;
}

.sr-bb .srt-fill-neutral-9 {
  fill: #f5f5f5;
}

.sr-bb .srt-stroke-neutral-9 {
  stroke: #f5f5f5;
}

.sr-bb .srt-fill-neutral-10 {
  fill: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-stroke-neutral-10 {
  stroke: rgba(0, 0, 0, 0.12);
}

.sr-bb .srt-fill-neutral-11 {
  fill: #999;
}

.sr-bb .srt-stroke-neutral-11 {
  stroke: #999;
}

.sr-bb .srt-fill-neutral-12 {
  fill: #4d4d4d;
}

.sr-bb .srt-stroke-neutral-12 {
  stroke: #4d4d4d;
}

.sr-bb .srt-fill-neutral-13 {
  fill: #e6e6e6;
}

.sr-bb .srt-stroke-neutral-13 {
  stroke: #e6e6e6;
}

.sr-bb .srt-fill-win {
  fill: #9e000e;
}

.sr-bb .srt-stroke-win {
  stroke: #9e000e;
}

.sr-bb .srt-fill-draw {
  fill: var(--accent);
}

.sr-bb .srt-stroke-draw {
  stroke: var(--accent);
}

.sr-bb .srt-fill-lose {
  fill: #f18791;
}

.sr-bb .srt-stroke-lose {
  stroke: #f18791;
}

.sr-bb .srt-stop-base-1 {
  stop-color: #fff;
}

.sr-bb .srt-stop-primary-1,
.sr-bb .srt-stop-primary-2 {
  stop-color: var(--accent);
}

.sr-bb .srt-stop-primary-3,
.sr-bb .srt-stop-primary-4 {
  stop-color: #9e000e;
}

.sr-bb .srt-stop-primary-5 {
  stop-color: #ec5966;
}

.sr-bb .srt-stop-primary-6,
.sr-bb .srt-stop-primary-7,
.sr-bb .srt-stop-primary-8 {
  stop-color: var(--accent);
}

.sr-bb .srt-stop-primary-9 {
  stop-color: #f6b3b9;
}

.sr-bb .srt-stop-primary-10 {
  stop-color: #e73343;
}

.sr-bb .srt-stop-primary-11 {
  stop-color: #ec5966;
}

.sr-bb .srt-stop-home-1,
.sr-bb .srt-stop-primary-12 {
  stop-color: var(--accent);
}

.sr-bb .srt-stop-away-1 {
  stop-color: #ec5966;
}

.sr-bb .srt-fill-neutral-14 {
  fill: #fff;
}

.sr-bb .srt-stroke-neutral-14 {
  stroke: #fff;
}

.sr-bb .srt-logo-powered-by-light {
  display: inline-block;
}

.sr-bb .srt-logo-powered-by-dark,
body.is-gameFullScreen .casino .game .breadcrumb {
  display: none;
}

.brWidgetS5 {
  position: relative;
  background-color: #fff;
}

.brWidgetS5 .sr-bb .srt-base-1 {
  color: #111;
}

.brWidgetS5 .sr-bb .sr-livetable__tableHeader {
  padding: 0 1rem 1rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
}

.brWidgetS5 .sr-bb .sr-livetable__table {
  margin: 0;
  width: 100%;
  border-color: #e8e9eb;
  border-left: 0.1rem solid #e8e9eb;
  border-right: 0.1rem solid #e8e9eb;
}

.brWidgetS5 .sr-bb .sr-livetable__wrap {
  margin: 0 0 1rem;
}

.brWidgetS5 .sr-bb .sr-livetable__promotions {
  padding: 0.8rem 1rem;
}

.brWidgetS5 .sr-bb .sr-livetable__tableRow.srm-dataRow .srm-semibold {
  font-weight: 600;
}

.brWidgetS5 .sr-bb .srt-away-1,
.brWidgetS5 .sr-bb .srt-away-2,
.brWidgetS5 .sr-bb .srt-away-3 {
  background-color: #2472d9;
  border-color: #2472d9;
}

.brWidgetS5 .sr-bb .srt-base-1-away-1 {
  color: #2472d9;
}

.brWidgetS5 .sr-bb .srt-fill-away-1,
.brWidgetS5 .sr-bb .srt-fill-away-2,
.brWidgetS5 .sr-bb .srt-fill-away-3 {
  fill: #2472d9;
}
