@import "vars";
html body {
  background-color: var(--mainBg);
  color: var(--mainBgCol);
}

.logo a {
  &::before {
    content: "";
    width: 100%;
    height: 70px;
    background-image: url("#{$logoUrl}");
    background-position: center;
    background-size: contain;
    display: block;
    width: 360px;
    background-repeat: no-repeat;
    height: 40px;
  }
  img {
    display: none;
  }
}
.row.barra-superiore {
  position: absolute;
  height: 70px;
  background: transparent;
  a {
    filter: invert($invert);
  }
  .info-utili,
  .funzioni-menu,
  .testo-disclaimer {
    display: none;
  }
}
.row.barra-intermedia {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 70px;
  background: var(--primary-bg);
  color: var(--primary-txt);
}
.login-header.col-lg-9 {
  width: calc(100% / 3);
  max-width: calc(100% / 3);
  flex: auto;
}
.logo {
  height: 100%;
  width: calc(100% / 3);
  max-width: calc(100% / 3);
  margin-left: auto;
  flex: auto;
  justify-content: center;
}
.menu-principale-barra ul.menu-principale {
  background: var(--secondary-bg);
  color: var(--secondary-txt);
  flex-grow: 1;
  li,
  a {
    color: var(--secondary-txt);
    font-family: $font;
  }
}
#cg-header .row.bg-bianco {
  background: var(--secondary-bg);
  color: var(--secondary-txt);
}
.menu-principale-barra {
  display: flex;
  max-width: 1247px;
  margin: 0 auto;
  > ul {
    width: auto;
    font-family: $font;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  > nav {
    display: none;
  }
}
.menu-principale-barra .sottomenu-principale ul {
  background: var(--secondary-bg);
  color: var(--secondary-txt);
}
div#cg-scommesse-submenu {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background: var(--secondary-bg);
}
.menu-principale-barra .active,
.menu-principale-barra a:hover {
  border-bottom: 3px solid var(--accent);
}
//iframe sport
iframe#sport-frame {
  margin-top: 0 !important;
}
div#content {
  padding-top: 10px !important;
}
.login-header {
  .margine-dx,
  .margine-destra {
    margin-right: 0;
    display: flex;
    width: auto;
  }
  .blocco-header {
    border-right: 0;
    input {
      border-radius: 0;
      background: var(--bg1);
      color: var(--col1);
      border: 0;
      width: 125px;
      margin: 0;
    }
  }
  .form-group {
    &:first-child {
      position: relative;
      &:before {
        content: "\f007";
        font-family: "Font Awesome 5 Pro";
        font-weight: 300;
        position: absolute;
        left: 16px;
        top: 5px;
        font-size: 15px;
      }
      input {
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        padding-left: 35px;
      }
    }
    &:last-child {
      position: relative;
      &:before {
        content: "\f30d";
        font-family: "Font Awesome 5 Pro";
        font-weight: 300;
        position: absolute;
        left: 16px;
        top: 5px;
        font-size: 15px;
      }
      input {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        padding-left: 35px;
      }
    }
  }
}
.bottone-registrazione {
  height: 26px;
  border-radius: 13px;
  background: var(--headerBtnsRightBg);
  color: var(--headerBtnsRightTxt);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 0 10px;
  margin-left: 5px;
}
.login-header .blocco-header {
  align-items: center;
}
a.bottone.bottone-login {
  height: 26px;
  border-radius: 13px;
  background: var(--headerBtnsRightBg);
  color: var(--headerBtnsRightTxt) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.flag-lang {
  display: flex;
  align-items: center;
}
//inherit +++++++++++++++++++++
html {
  .voce-casino {
    color: inherit !important;
  }
  .grid-message {
    color: inherit;
  }
}
a.bg-colore-1 {
  background: var(--accent-bg) !important;
  color: var(--accent-txt) !important;
}
//casino styles
body {
  .row.mosaico-casino {
    margin-top: 0;
    padding: 10px;
  }
  #casino-principale {
    margin-top: 0;
    background: var(--mainBg);
    color: var(--mainBgCol);
  }
  .container.blocco-casino-bg {
    background: var(--bg1);
    color: var(--col1);
  }
  .bg-filtri-casino,
  .barra-bg-casino {
    background: var(--teableHeadersBg);
    color: var(--teableHeadersCol);
  }
  .riga-titoli-casino {
    background: inherit;
    color: inherit;
  }
  .tipoPaginaLancio.active,
  .casino-acceso DIV {
    background: var(--accent-bg) !important;
    color: var(--accent-txt);
    border: 1px solid var(--accent);
  }
  .descIconGameFooter {
    background: var(--teableSubHeadersBg);
    color: var(--teableSubHeadersCol);
    border: 0;
  }
  .buttonGiocaBG {
    background: var(--accent-bg);
    color: var(--accent-txt);
  }
  .casino a.voce-casino:hover,
  .casino a.voce-casino.selezionato {
    border-bottom-color: var(--accent);
  }
  a span {
    filter: unset;
  }
}
.cg-tickets-button {
  background: var(--accent-bg) !important;
  color: var(--accent-txt) !important;
}
.elementi-footer {
  position: relative;
}
#blocco-tasti-bottom {
  display: none !important;
}
footer#nascondifooter {
  display: flex !important;
  flex-flow: column;
  .col-lg-4.cg-align-self-center .cg-flex-container > a {
    filter: invert($invert);
  }
}
iframe[title="Zendesk Chat widget button"] {
  display: none !important;
}
#cg-top-button {
  bottom: 20px !important;
}

html {
  .dropdown-menu.bg-nero.bianco.container.show {
    background: var(--mainBg);
    color: var(--mainBgCol) !important;
  }
  #cg-profile-popup-container .dropdown-menu.bianco span {
    color: inherit !important;
  }
  .bottone:hover {
    filter: none;
    color: inherit;
  }
}

[subpage="poker"] {
  //poker
  .blocco-principale-poker {
    background: var(--mainBg);
    color: var(--mainBgCol);
  }
  .schede-poker .col-md-8 {
    align-items: flex-start;
  }
  .cg-poker-banner-container {
    display: none;
  }
  .blocco-principale-poker {
    margin: 0 auto;
    max-width: 1000px;
    padding: 90px !important;
    background: #00000078;
    backdrop-filter: blur(5px);
    margin-top: 45vh;
    > .row {
      margin: 0 !important;
    }
  }
  .poker-landing::before {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/pokerbg.jpeg") !important;
    background-color: #140e0e;
    background-position: center -29px;
    background-size: contain;
    background-attachment: fixed;
  }
  .barra-titolo-sezione-poker {
    display: none;
  }
  .azione-poker.cg-download-client,
  .azione-poker.cg-gioca-ora {
    background-image: url("https://#{$skinHost}/external_css/#{$skinName}/img/clientdownload.jpg") !important;
    i {
      display: none;
    }
  }
  .azione-poker {
    padding: 10px;
    border-radius: 0;
    border: 1px solid var(--accent);
  }
  a.btn.bg-colore-1.bianco.maiuscolo.pointer {
    border-radius: 0;
  }
  .card {
    background: #000000a3;
    color: #fff15cbd;
    border: 1px solid var(--accent);
    border-radius: 0;
    margin: 0;
    margin-top: 12px;
    width: calc(50% - 5px);
    min-width: auto;
    height: 230px;
    overflow: hidden;
  }
  .schede-poker {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .card .row {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0;
      .col-md-4 {
        height: 230px;
        flex: auto;
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
        img {
          object-fit: cover;
          object-position: center;
        }
      }
      .col-md-8 {
        height: 230px;
        flex: auto;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        align-items: center;
        justify-content: center;
      }
    }
    .card:hover {
      .col-md-8 {
        display: flex;
        opacity: 1;
        pointer-events: all;
        backdrop-filter: blur(7px);
        background-color: #000000ab;
      }
    }
  }
}
